<%= content_for :css do %>
	<%= stylesheet_link_tag "index_layout" %>
<%end%>

<%= content_for :info_head do %>
	<%if @trip_id%>
		<%if @journal_id%>
			<title><%=@journal_name%> - WanderWorld地球漫遊</title>
			<meta property="og:title" content="<%=@journal_name%>" />
			<meta property="og:url" content="http://www.wanderworld.com.tw/<%=@trip_id%>/<%=@journal_id%>" />
		<%else%>
			<title><%=@trip_info.name%> - WanderWorld地球漫遊</title>
			<meta property="og:title" content="<%=@trip_info.name%>" />
			<meta property="og:url" content="http://www.wanderworld.com.tw/<%=@trip_id%>" />
		<%end%>
		<% if @contents.size > 0 %>
			<% c=@contents[0].article.gsub(/<[^>]*>/,'') %>
			<meta name="description" lang="zh-Hant-TW" content="<%=c%>"/>
			<meta property="og:description" lang="zh-Hant-TW" content="<%=c%>"/>
			<% if @journal.photo%>
				<meta property="og:image" content="<%=@journal.photo%>" />
				<link rel="image_src" href="<%=@journal.photo%>" />
			<%else%>
        			<meta property="og:image" content="http://www.wanderworld.com.tw<%=asset_path('banded/banded-cover.jpg')%>" />
        			<link rel="image_src" href="http://www.wanderworld.com.tw<%=asset_path('banded/banded-cover.jpg')%>" />
			<% end%>
		<%else%>
			<meta name="description" lang="zh-Hant-TW" content="<%for g in @groups %><%=g.title%>,<%end%>"/>
			<meta property="og:description" lang="zh-Hant-TW" content="<%for g in @groups %><%=g.title%>,<%end%>"/>
		<%end%>
	<%else @user_id%>
		<title><%=@user.username%>的旅行 - WanderWorld地球漫遊</title>
		<meta property="og:title" content="<%=@user.username%>的旅行 - WanderWorld地球漫遊" />
		<meta name="description" lang="zh-Hant-TW" content="<%for t in @trips%><%=t.name%>,<%end%>" />
		<meta property="og:description" lang="zh-Hant-TW" content="<%for t in @trips%><%=t.name%>,<%end%>" />
	<%end%>
<%end%>


<script type="text/javascript">
	//編輯顯示的URL
	
	window.history.pushState(null,document.title,"<%=@url%>");
	
	//-----------------check user login status------------------//
	
	//是否已登入
	<% if session[:username]%>
		EnvData.is_login=true;
		UserData.user_id=<%=session[:user_id]%>;
	<%end%>

	//是否使用FB登入
	<%if session[:fbid]%>
		UserData.facebook_id=<%=session[:fbid]%>;
	<%else%>
		UserData.facebook_id=null;
	<%end%>

	$(function(){
		initialize();
		<% if @trip_id %>
			DataStatus.owner_user_id=<%=@trip_info.user_id%>;
			<% if @isOwner%>
				DataStatus.isOwner=true;
			<%end%>
			DataStatus.contentList=[];
			<% if @journal_id %>
					var tpbs=$('.tp_box');
					for(var i=0; i<tpbs.length; i++){
						var tpb=tpbs.eq(i);
						DataStatus.contentList[tpb.data('id')]=tpb.html();
					}
					
					groupItemManager.selectGroup(<%=@journal_id%>);						
			<% end %>
			<% if @journal_selected%>
				readJournal_s=true;
				contentBox.setShowGroupId(<%=@journal_id%>,<%=@public%>);
				contentBox.initJavascript();
				tripPointList.selectGroup(<%=@journal_id%>);
				DataStatus.group_id=<%=@journal_id%>;
				<% if @contents.size>0%>
					tripPointList.selectTripPoint(<%=@contents[0].id%>);
				<%end%>
			<%end%>
			
			
			DataStatus.trip_id=<%=@trip_id%>;
			DataStatus.trip_name='<%=j(@trip_info.name)%>';
			DataStatus.owner_user_id=<%=@trip_info.user_id%>;
			<%@user = @trip_info.user%>
			
			
			
			<% if @trip_info.start_date==@trip_info.end_date %>
				DataStatus.trip_date='<%=@trip_info.start_date.to_s.gsub('-','/')%>';
			<%else%>
				DataStatus.trip_date='<%=@trip_info.start_date.to_s.gsub('-','/')%> - <%=@trip_info.end_date.to_s.gsub('-','/')%>';
			<%end%>

			<% today=Date.current%>
			<% if today<@trip_info.start_date %>
				DataStatus.trip_status='倒數<%=(@trip_info.start_date-today).to_s%>天';
			<%elsif today>=@trip_info.start_date && today<=@trip_info.end_date%>
				DataStatus.trip_status='正在旅行';
			<%else%>
				DataStatus.trip_status='';
			<%end%>
			tripPointList.initJavascript();
			reLayout();
			
			<%
			if @journal_selected && @contents.size > 0
			%>				
				PathOnMap.centerTripPointOnLeftMap(<%=@contents[0].id%>);
				PathOnMap.showTripPointInfo(<%=@contents[0].id%>);
				$('#postContent img').attr('onerror','this.src="/assets/photo_deleted.gif"');
			<%else%>
				PathOnMap.centerTripOnMap();
			<%end%>
			
		<% elsif @user_id %>	
			DataStatus.owner_user_id=<%=@user_id%>;
			
			
			
			<% if @isOwner%>
				DataStatus.isOwner=true;
			<%end%>

			DataStatus.tripList=[
				<%@trips.each do |t|%>
				{
					<%t.attributes.each do |a_name,a_val|%>
						<%=a_name%>:"<%=a_val%>",
					<%end%>
					t:null
				},
				<%end%>
				{}
			];
			DataStatus.tripList.pop();		

			tripListbar.init_trip_listbar();
			tripListbar.ownerModeSwitch();
			
			if(DataStatus.isOwner&&!DataStatus.tripList.length){
				tipInstance.enable($(document));
				tipInstance.show(0);
			}

		<%end%>
		
	});

	

</script>


<!--隱藏區塊>
<div id="hide_block" style="display:none">
	 <div id="newTripLoad"></div>
</div-->
<!--內容-->
<div class="row wrapper" media="screen">
	<!--map-->
	<div class="large-2 columns large-offset-1">
		<div class="gallery" id="map_canvas"></div>
		<div id="trippoint_infowindow_reading" class="arrow_box_bottom"></div>
	</div>
	<!--隱藏的內容框-->
	<div class="large-6 columns" id="slidesContainer" style="<%='z-index:-1' if !@journal_selected%>">
			<!--遊記控制中心第一層-->
			<div class="row" id="journal_cc_1st_stack">
			<!--↓遊記標題↓，之後可以在編輯遊記的模式下重新編輯-->
				<div class="large-7 columns word-break" style=" height:3em; overflow: hidden;" id="journal_name">
					<h3 title="<%=@journal_name%>"><%=@journal_name%></h3>
				</div>

				<!--↓社交元件↓-->
				<div class="large-5 columns" id="social_toggle">
					<div class="row">
						<div id="release_status" class="large-6 columns" style="<%='visibility:hidden' if !@isOwner%>">
							<a id="release_status_text" class="tiny permission secondary button dropdown" href="#" data-dropdown="1">
								<%if @public %>
									 已發佈
								<%else %>
									草稿
								<%end%>
							</a>
							<ul id="1" class="f-dropdown">
								<li><a href="#" class="private_button">草稿</a</li>
								<li><a href="#" class="public_button">發佈</a</li>
							</ul>
						</div>
						<div class="large-2 columns">
							<a class="button tiny radius" id="share_journal">
								<i class="icon-facebook-sign icon-large"></i>
							</a>
						</div>
						<!--div class="large-2 columns">
							<a class="button tiny radius">
								<i class="icon-camera-retro icon-large"></i>
							</a>
						</div-->
						<div class="large-2 columns">
							<a class="editTool right button secondary tiny radius" style="<%='visibility:hidden;' if !@isOwner%>" >
								<i class="icon-edit icon-large"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--遊記控制中心第二層-->
			<div class="row" id="journal_cc_2nd_stack">
				<!--遊記編輯工具-->
				<div class="large-7 columns" >
				</div>
				<!--遊記狀態/權限區塊-->
				<div class="large-5 columns controlButton" style="display:none">
					<div id="draftButtons" style="display:none">
						<ul class="button-group radius">
							<li><a class="button secondary tiny" id="releasePost">發佈</a></li>
							<li><a class="button secondary tiny" id="finishPost">儲存</a></li>
							<li><a class="button alert tiny" id="cancelEdit">放棄</a></li>
						</ul>
					</div>
					<!--↓第二次編輯遊記↓-->
					<div id="releaseButtons" style="display:none">
						<ul class="button-group radius">
							<li><a class="button tiny" id="releasePost">更新</a></li>
							<li><a class="button secondary tiny" id="toDraft">還原草稿</a></li>
							<li><a class="button alert tiny" id="cancelEdit">放棄</a></li>
						</ul>
					</div>
				</div>
			</div>
			<hr/>
			<!--遊記閱讀/編輯區塊-->
		<div class="row word-break" id="journal">
			<div id="foo" class="large-12 columns">
				<h6 class="text-center">請稍候</h6>
			</div>			
			<div id="saving" class="large-12 columns">
				<h6 class="text-center">儲存中，請稍候</h6>
			</div>			
			<div class="large-12 columns large-centered" id="postContent">
				<% if @journal_selected %>
				<% for c in @contents %>
				<div class="tp_box" id="tp_box_<%=c.id%>" data-id="<%=c.id%>">
					<%=sanitize c.article, tags: %w(table tr td p img a span hr em strong i), attributes: %w(id href src style class height width alt)%>
				</div>
				<% end %>
				<% end %>				
				<!--hr /-->
			</div>				
		</div>
		</div>
		<!--遊記控制中心，兩層，第一層放標題、社交原件；第二層放編輯工具-->
		
	<!--遊記開關-->
	<div class="large-1 columns" style="padding-left:0px;<%='visibility:hidden;' if !@trip_selected or @groups.size==0 %>">
		<div class="large-12 columns control button secondary radius" id="bounce" title="展開/收合遊記">
			<h1>	
				<i class="icon-book icon large"></i>
			</h1>
		</div>
	</div>
	<!--triplist-->
	<div id="trip_list" class="list large-2 columns gallery right" style="<%='display:none' if !@user_id %>" >
		<a id="trip_create_button" class="button tiny radius" style="position:absolute; right:0px;<%='visibility:hidden;' if !@isOwner%>" >
			<i class="foundicon-plus" style="float:left">&nbsp;</i>
			<i class="foundicon-flag" style="float:left"></i>
			<span class="showText">新增旅行</span>
		</a>
		<div class="row" style="margin-top:25px;">
			<h4 class="text-center" style="display:block; margin:0 auto; color:white;">
				<i class="icon-globe"></i>旅行列表</h4>
		</div>
		<hr />
		<div class="columns">
			<div class="loading load_name text-center" id="load_trip">請稍候</div>
			<div class="large-12 row scroll" id="timeline">
				<ul id="dates">
					<%=tripList_gen(@trips) if @trips%>
				</ul>
			</div>
		</div>
	</div>
	<!--click on a trip-->
	<div class="large-2 columns gallery list" id="trip_one" style="<%='display:none;' if !@trip_id && !@journal_id %>" >
		<div class="row">
			
			<div id="return_triplist" href="/rapid/triplist/<%=@author_id%>">
				<i class="icon-level-up icon-large icon-rotate-270 pull-left"></i>
			</div>

			<div class="columns" id="trip_name">
				<% if @trip_info %>
					<%=tripName_gen(@trip_info)%>
				<% else	%>
					<%=tripName_gen(nil)%>
				<% end%>
			</div>
		</div>
		<div id="trip_date" class="row word-break">
			<%=tripDate_gen(@trip_info) if @trip_info%>
		</div>
		<div id="trip_status" class="row" style="display:none;">狀態：
			<a style="color:#FB9B35"></a>
		</div>
		<hr />
		<div class="loading load_name row text-center" id="load_point">請稍候</div>
		<div class="row" id="trip_point_list">
			<div class="columns trip_point_all">
				<%=tripPointList_gen(@groups,@tripPoints) if @groups&&@tripPoints%>
			</div>
		</div>
		<div class="row" style="<%='display:none' if !@isOwner%>">
			<div class="large-6 columns button tiny radius" id="group_create_button">
				<!--a class="add_group_title button tiny round secondary" href="#"--><i class="icon-plus"></i>新增遊記
				<!--/a-->
			</div>
			<div class="large-6 columns button tiny radius secondary" id="launchSorting" style="<%='display:none' if !@isOwner%>">
				<i class="icon-exchange icon-rotate-90"></i>景點排序
			</div>
		</div>
		<hr style="margin:0 0 5px 0"/>
		<div class="row" id="trippoint-list-bottom">
			<div class="large-7 columns">
				<p>人氣：<span id="count"><%=@trip_info.count.to_s if @trip_info%></span></p>	
			</div>
			<div class="large-4 columns button radius tiny pull-1" id="share" data-reveal-id="share_button">
				<i class="icon-share-alt"></i>分享
			</div>
		</div>
		
	</div>
</div>

<!--share-->
<div id="share_button" class="reveal-modal small">
	<div class="large-12 columns">
    <form>
    	<fieldset>
    		<legend><h3>分享你的旅行</h3></legend>
	    	<div class="row collapse">
	    		<div class="small-10 columns">
	    			<input type="text" id="shareInput" placeholder="連結網址" />
	    		</div>
	    		<div class="small-2 columns">
	    			<a class="button radius postfix" id="share_trip">
	    				<i class="icon-facebook-sign icon-large pull-left"></i>分享
	    			</a>
	    		</div>
	    	</div>
	    </fieldset>
	</form>
	</div>
	<a class="close-reveal-modal">&#215;</a>  
</div>

<!--手動輸入景點位置-->
<div id="add_new" class="large-6 columns large-centered">
		<fieldset>
		<legend class="text-center"><h4>手動標記景點</h4></legend>
		<div class="row collapse">
			<div class="large-4 columns">
				<h6>1.輸入該景點的相關位置：</h6>
			</div>
			<div class="large-7 columns">
				<input type="text" placeholder="地址、城市、國家、周遭景點或經緯度" onkeydown="tripPointEdit.UiListener.searchPos(event)" />
			</div>
			<div class="large-1 columns"> 
				<a class="button radius postfix" onclick="tripPointEdit.UiListener.searchPos(event)">搜尋</a>
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<h6>2.按下搜尋後，請將地圖上的<img id="pointTarget" src='<%=asset_path("logo.png")%>' />拖至正確位置，並點選「完成」或者「取消」。</h6>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns large-offset-9">
				<button class="finish tiny radius">完成</button>&nbsp;
				<button class="cancel tiny radius alert" onclick="tripPointEdit.UiListener.cancelSetNewManPos()">取消</button>
			</div>
		</div>
		</fieldset>
</div>


  <ol class="joyride-list" data-joyride>
  <li data-text="開始導覽">
    <h5>歡迎來到<img src="<%=asset_path('banded/main_logo.png')%>" /><br />打造專屬於你的旅行地圖！</h5>
  </li>
  <li data-text="如何新增旅行？" data-button="新增一個旅行吧" >
    <h5>在WanderWorld地球漫遊，我們這樣記錄旅程：</h5><br />
    <ul style="list-style:none;">
    	<li><i class="foundicon-flag">旅行</i>，從出發到回家，紀錄一次完整的旅程，由許多遊記組成<hr/></li>
    	<li><i class="foundicon-page">遊記</i>，將旅行依照你喜歡的方式區分成段落，包含許多景點<hr/></li>
    	<li><i class="foundicon-location">景點</i>，從風景名勝到國家，在地圖上標記你去過的地方。遊記內容將會和各個景點緊密結合。</li>
    </ul>
  </li>
  <li data-id="trip_create_button" data-options="tipLocation:right;nextButton:false;">
    <h5>試著按下「新增旅行」按鈕看看吧？</h5>
  </li>
  <li data-id="trip_name" data-options="tipLocation:right;">
    <h5>按下「請輸入旅行名稱」和下面的日期，就可以直接修改噢</h5>
  </li>
  <li data-id="group_create_button" data-options="tipLocation:right">
    <h5>然後將指標移到這，就可以新增遊記囉</h5>
    <p>指標再往下移一點，就可以在特定遊記中新增景點！</p>
  </li>
  <li data-id="bounce" data-text="寫下你的旅行故事" data-options="tipLocation:left">
  	<p>點擊此按鈕，可以開啓/收合遊記；注意左邊的遊記中，景點會跟著你的閱讀內容移動噢！</p>
  </li>
  <li data-text="寫下你的旅行故事" data-button="馬上開始" data-options="nextButton:true;">  
    <p>導覽結束，若有任何問題，歡迎透過意見反映或到<a href="http://www.facebook.com/wanderworld">漫遊到世界盡頭</a>和我們分享</p>
    <h5>專注於旅行者的設計，寫下專屬於旅行的遊記</h5><br><img src="<%=asset_path('banded/main_logo.png')%>" />
  </li>
</ol>


