<%= content_for :css do %>
	<%= stylesheet_link_tag "index_layout" %>
	<%= stylesheet_link_tag "newindex" %>
<%end%>


<script type="text/javascript">
	//編輯顯示的URL
	
	window.history.pushState(null,document.title,"<%=@url%>");
	
	//-----------------check user login status------------------//
	
	//是否已登入
	<% if session[:username]%>
		EnvData.is_login=true;
		UserData.user_id=<%=session[:user_id]%>;
	<%end%>

	//是否使用FB登入
	<%if session[:fbid]%>
		UserData.facebook_id=<%=session[:fbid]%>;
	<%else%>
		UserData.facebook_id=null;
	<%end%>

	$(function(){
		initialize();
		<% if @journal_id %>
			//loadJournal(<%=@trip_id%>,<%=@journal_id%>);
		<% elsif @trip_id %>
			<%
			@trip_selected=true
			@trip_info=Trip.find(@trip_id)
			@author_id=@trip_info.user_id
			@trip_info.count+=1
			@trip_info.save!
			@groups=Group.order('sort_id ASC').where(:trip_id=>@trip_id)
			@tripPoints=TripPoint.select('trip_points.id,group_id,sort_id,name,longitude,latitude').order('group_id,sort_id ASC').joins(:place).where(:trip_id=>@trip_id)
			%>
			DataStatus.owner_user_id=<%=@trip_info.user_id%>;
			<% if @trip_info.user_id.to_s==session[:user_id].to_s%>
				DataStatus.isOwner=true;
			<%end%>
			document.title='<%=@trip_info.name%> - WanderWorld地球漫遊';
			DataStatus.trip_id=<%=@trip_id%>;
			DataStatus.trip_name='<%=@trip_info.name%>';
			DataStatus.owner_user_id=<%=@trip_info.user_id%>;
			<%@user = @trip_info.user%>
			
			<%if @user.fbid %>
				$('#person_avatar img').attr('src','https://graph.facebook.com/<%=user.fbid%>/picture');
			<%else%>
				$('#person_avatar img').attr('src','<%=asset_path("user_avatar.png")%>');
			<%end%>
			
			
			<% if @trip_info.start_date==@trip_info.end_date %>
				DataStatus.trip_date='<%=@trip_info.start_date.to_s.gsub('-','/')%>';
			<%else%>
				DataStatus.trip_date='<%=@trip_info.start_date.to_s.gsub('-','/')%> - <%=@trip_info.end_date.to_s.gsub('-','/')%>';
			<%end%>
			
			//DataStatus.groupList=<%=@groups.to_json.html_safe%>;
			//DataStatus.tripPointList=<%=@tripPoints.to_json.html_safe%>;

			//for(var i=0; i<DataStatus.tripPointList.length;i++){
			//	DataStatus.tripPointList[i].place={longitude:DataStatus.tripPointList[i].longitude,
			//									   latitude:DataStatus.tripPointList[i].latitude,
			//										name:DataStatus.tripPointList[i].name
			//									};
			//}
			
			<% today=Date.current%>
			<% if today<@trip_info.start_date %>
				DataStatus.trip_status='倒數<%=(@trip_info.start_date-today).to_s%>天';
			<%elsif today>=@trip_info.start_date && today<=@trip_info.end_date%>
				DataStatus.trip_status='正在旅行';
			<%else%>
				DataStatus.trip_status='';
			<%end%>
			tripPointList.initJavascript();
	
	//		tripPointList.loadTripInfo();
	//		tripPointList.loadTripPointList();
			reLayout();
			
	//		loadTrip(<%=@trip_id%>);
		<% elsif @user_id %>
			<% @author_id=@user_id %>
			<%@trips=Trip.order('start_date DESC').where(:user_id=>@user_id)%>		
	
			DataStatus.owner_user_id=<%=@user_id%>;
			
			<%@user = User.find(@user_id)%>
			
			<%if @user.fbid %>
				$('#person_avatar img').attr('src','https://graph.facebook.com/<%=user.fbid%>/picture');
			<%else%>
				$('#person_avatar img').attr('src','<%=asset_path("user_avatar.png")%>');
			<%end%>
			
			<% if @user_id==session[:user_id].to_s%>
				DataStatus.isOwner=true;
			<%end%>

			DataStatus.tripList=[
				<%@trips.each do |t|%>
				{
					<%t.attributes.each do |a_name,a_val|%>
						<%=a_name%>:"<%=a_val%>",
					<%end%>
					t:null
				},
				<%end%>
				{}
			];
			DataStatus.tripList.pop();		

			tripListbar.init_trip_listbar();
			tripListbar.ownerModeSwitch();
	//		loadTripList(<%=@user_id%>);
		<%end%>
		
	});

	

</script>


<!--隱藏區塊>
<div id="hide_block" style="display:none">
	 <div id="newTripLoad"></div>
</div-->
<div class="row expandView">

<!--main control-->
	<div class="large-2 columns panel">
	    <div class="row">
	        <% if session[:avatar_src]%>
		    <img src='<%=session[:avatar_src]%>'></img>
			<% else%>
			<img src='<%=asset_path("user_avatar.png")%>' style="display:block; margin:auto;"></img>
			<% end %>
        	<h5><a id="person_name" href="#" style="display:block;text-align:center;"><%=@user.username if !@journal_id%></a></h5>
        </div>
        <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        	<section class="section">
        		<h5 class="title"><a href="#" id="firstStop" onclick="showTravelJournal()"><i class="foundicon-globe"></i>旅行列表</a></h5>
        	</section>	
        	<section class="section">
            	<h5 class="title"><a href="/newindex/browse"><i class="foundicon-compass"></i>旅行動態</a></h5>
          	</section>
        </div>
    </div>
	<!--content-->
	<div class="large-8 columns">
		<div class="gallery" id="map_canvas"></div>
	</div>
	<!--triplist-->
	<div id="trip_list" class="list large-2 columns gallery" style="<%='display:none' if !@user_id %>" >
		<a id="trip_create_button" class="button tiny radius" style="position:absolute; right:0px;">
			<i class="foundicon-plus" style="float:left">&nbsp;</i>
			<i class="foundicon-flag" style="float:left"></i>
			<span class="showText">新增旅行</span>
		</a>
		<div class="row" style="margin-top:25px;">
			<h4 class="text-center" style="display:block; margin:0 auto; color:white;">
				<i class="foundicon-globe"></i>旅行列表</h4>
		</div>
		<hr />
		<div class="row">
			<div id="prev" class="columns large-centered button round tiny" onclick="toTop()" title="至頂端" >TOP
			</div>
			<div class="loading load_name" id="load_trip">請稍候</div>
			<div class="row" id="timeline">
				<ul id="dates">
					<%=tripList_gen(@trips) if @trips%>
				</ul>
			</div>
			<div id="next" class="columns large-centered button round tiny" onclick="toBottom()" title="至底端" >BOTTOM</div>
		</div>
	</div>
	<!--click on a trip-->
	<div class="large-2 columns gallery list" id="trip_one" style="<%='display:none;' if !@trip_id && !@journal_id %>" >
		<a id="return_triplist" href="/rapid/triplist/<%=@author_id%>" style="position:absolute; left:0px;">
			<i class="foundicon-left-arrow" style="float:left"></i>返回</a>
		<div class="row" style="margin-top:25px;">
			<h4 id="trip_name" style="display:block; text-align:center; margin:0 auto; ">
				<i class="foundicon-flag" style="color:white"></i><%=tripName_gen(@trip_info) if @trip_info%>
			</h4>
		</div>

		<div id="trip_date" class="row" style="margin:0px;padding:0px;white-space:nowrap;">
			<%=tripDate_gen(@trip_info) if @trip_info%>
		</div>
		<div id="trip_status" class="row" style="display:none;">狀態：
			<a style="color:#FB9B35"></a>
		</div>
		<hr />
		<div class="loading load_name row text-center" id="load_point">請稍候</div>
		<div class="row" id="trip_point_list">
			<div class="trip_point_all">
				<%=tripPointList_gen(@groups,@tripPoints) if @groups&&@tripPoints%>
			</div>
		</div>
		<div class="add_group_title button round secondary columns large-centered" id="group_create_button">新增遊記
		<i class="foundicon-add-doc"></i>
		</div>
		<div class="row">
			<div id="view_num">
			<span>瀏覽人次：<span id="count"><%=@trip_info.count.to_s if @trip_info%></span></span>
			</div>
			<div id="sharetoFB">
				<a href="#share_button" rel="facebox.sharecss" id="share" >分享</a>
			</div>
		</div>
	</div>
</div>





<!--share-->
<div id="share_button" style="display:none;">
	<div class="sharecss_l">
		<span>按Ctrl+C複製下列網址</span>
		<input id="shareInput" placeholder="這裡將出現分享用縮網址" size="50" />
		<button onclick="postToWall()">分享到facebook</button>
		<!--<a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">分享</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>-->
		<!--<span>將足跡地圖嵌入BLOG文章中</span><br/>
		<input id="embedInput" type="url" placeholder="<embed>瓜拉拉瓜拉瓜拉</embed>" size="50"/>-->
	</div>
	<div class="sharecss_r">
		<!--<img src='<%=asset_path("LOGO黑體直行-06.png")%>' style="height:145px;"/> -->
	</div>
</div>

<!--手動輸入景點位置-->
<div id="add_new" style="display:none">
    	糟了，找不到你想標記的地點，試試看手動輸入吧!
        <ol>
	       	<li>輸入附近的地理資訊試試看<input type="search" placeholder="試著輸入國家、城市、以及附近景點或經緯度、地址" size="40" onkeydown="tripPointEdit.UiListener.searchPos(event)" />
        	<button class="search" onclick="tripPointEdit.UiListener.searchPos(event)">搜尋</button></li>
        	<li>按下搜尋後，請將地圖上的<img id="pointTarget" src='<%=asset_path("logo.png")%>' />拖至正確位置，並點選下方「完成」或「取消」</li>
        </ol>
        <button class="finish">完成</button><button class="cancel" onclick="tripPointEdit.UiListener.cancelSetNewManPos()">取消</button>
</div>


<!--fb_photo_selector-->
		<div id="CSPhotoSelector">
			<div class="CSPhotoSelector_dialog">
				<a href="#" id="CSPhotoSelector_buttonClose">x</a>
				<div class="CSPhotoSelector_form">
					<div class="CSPhotoSelector_header">
						<p>Choose from Photos</p>
					</div>

					<div class="CSPhotoSelector_content CSAlbumSelector_wrapper">
						<p>Browse your albums until you find a picture you want to use</p>
						<div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
							<div class="CSPhotoSelector_selectedCountContainer">Select an album</div>
						</div>
						<div class="CSPhotoSelector_photosContainer CSAlbum_container"></div>
					</div>

					<div class="CSPhotoSelector_content CSPhotoSelector_wrapper">
						<p>Select a new photo</p>
						<div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
							<div class="CSPhotoSelector_selectedCountContainer"><span class="CSPhotoSelector_selectedPhotoCount">0</span> / <span class="CSPhotoSelector_selectedPhotoCountMax">0</span> photos selected</div>
							<a href="#" id="CSPhotoSelector_backToAlbums">Back to albums</a>
						</div>
						<div class="CSPhotoSelector_photosContainer CSPhoto_container"></div>
					</div>

					<div id="CSPhotoSelector_loader"></div>


					<div class="CSPhotoSelector_footer CSPhotoSelector_clearfix">
						<a href="#" id="CSPhotoSelector_pagePrev" class="CSPhotoSelector_disabled">Previous</a>
						<a href="#" id="CSPhotoSelector_pageNext">Next</a>
						<div class="CSPhotoSelector_pageNumberContainer">
							Page <span id="CSPhotoSelector_pageNumber">1</span> / <span id="CSPhotoSelector_pageNumberTotal">1</span>
						</div>
						<a href="#" id="CSPhotoSelector_buttonOK">OK</a>
						<a href="#" id="CSPhotoSelector_buttonCancel">Cancel</a>
					</div>
				</div>
			</div>
		</div>
		<footer class="row expandView">
      <hr />
        <div class="large-6 columns">
          <h6 class="subheader">WanderWorld地球漫遊 &copy; 2013</h6>
        </div>
        <div class="large-6 columns">
        	<a class="right" href="http://wanderworld-ideaaxis.blogspot.tw/" target="blank">地球漫遊開發日誌</a>
        </div>
  </footer>
