<%= content_for :css do %>
	<%= stylesheet_link_tag "index_layout" %>
	<%= stylesheet_link_tag "newindex" %>
<%end%>
<script type="text/javascript">
	//編輯顯示的URL
	window.history.pushState(null,document.title,"<%=@url%>");
	
	//-----------------check user login status------------------//
	
	//是否已登入
	<% if session[:username]%>
		EnvData.is_login=true;
		UserData.user_id=<%=session[:user_id]%>;
	<%end%>

	//是否使用FB登入
	<%if session[:fbid]%>
		UserData.facebook_id=<%=session[:fbid]%>;
	<%else%>
		UserData.facebook_id=false;
	<%end%>

	$(function(){
		initialize();
		<% if @journal_id %>
			loadJournal(<%=@trip_id%>,<%=@journal_id%>);
		<% elsif @trip_id %>
			loadTrip(<%=@trip_id%>);
		<% elsif @user_id %>
			loadTripList(<%=@user_id%>);
		<%end%>
		
	});
</script>


<!--隱藏區塊>
<div id="hide_block" style="display:none">
	 <div id="newTripLoad"></div>
</div-->



<div class="row">
	<!--main control-->
	<div class="large-2 columns">
		<div class="panel">
        	<a href="#">
        		<% if  session[:avatar_src]%>
	           		<img src='<%=session[:avatar_src]%>'></img>
				<% else%>
					<img src='<%=asset_path("user_avatar.png")%>'></img>
				<% end %>
			</a>
        <h5 ><a href="#"></a></h5>
          <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h5 class="title"><a href="#" onclick="showTravelJournal()"> 旅行列表</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 2</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 3</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 4</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 5</a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="#">Section 6</a></h5>
          </section>
        </div>
 
      </div>
    </div>
	</div>
	<!--content-->
	<div id="travel_journal" class="large-7 columns main_content">
		<div id="map_canvas"></div>
	</div>
	<!--triplist-->
	<div></div>
</div>











































































