<%= content_for :css do %>
	<%= stylesheet_link_tag    "index_layout" %>
<%end%>
<script type="text/javascript">
	//編輯顯示的URL
	
	window.history.pushState(null,document.title,"<%=@url%>");
	
	//-----------------check user login status------------------//
	
	//是否已登入
	<% if session[:username]%>
		EnvData.is_login=true;
		UserData.user_id=<%=session[:user_id]%>;
	<%end%>

	//是否使用FB登入
	<%if session[:fbid]%>
		UserData.facebook_id=<%=session[:fbid]%>;
	<%else%>
		UserData.facebook_id=null;
	<%end%>

	$(function(){
		initialize();
		<% if @journal_id %>
			loadJournal(<%=@trip_id%>,<%=@journal_id%>);
		<% elsif @trip_id %>
			loadTrip(<%=@trip_id%>);
		<% elsif @user_id %>
			loadTripList(<%=@user_id%>);
		<%end%>
		
	});
	
	

</script>


<!--隱藏區塊-->
<div id="hide_block" style="display:none">
	 <div id="newTripLoad"></div>
</div>

<!--主控制-->
<div id="main_control">
	<div id="person" >
		<div id="person_avatar">
			<% if  session[:avatar_src]%>
	           	<img src='<%=session[:avatar_src]%>'></img>
			<% else%>
				<img src='<%=asset_path("user_avatar.png")%>'></img>
			<% end %>
		</div>
		<div id="person_name"></div>
		<div style="clear: both;display: block"></div>	
	</div>
	<div id="other_button" >
		<div id="button_traveljournal" class="items" onclick="showTravelJournal()"> 旅行列表 </div>
		<!--<div class="items"> 好友動態 </div>
		<div class="items"> 相簿 </div>-->
	</div>
	<div class="book" ></div>
</div>

<!--漫遊日誌-->
<div id="travel_journal" class="main_content" >
	<!--google地圖-->
	<div id="map_canvas"></div>
	<!--<div id="map_small"></div>-->
	<div id="map_adjust" title="調整地圖"  onclick="computeMap();">
		<img src='<%=asset_path("view_all.png")%>'></img>
	</div>
	<!--旅行列表-->
	<div id="trip_list" class="list" style="display:none;">
		<div id="trip_logo"></div>
		<div id="trip_title">
			<h2 class="information">旅行列表</h2>
		</div>
		<div id="trip_create" style="display:none;">
			<button id="trip_create_button" class="button" style="border-radius:1000px;" title="新增一個旅行">新增旅行</button>
		</div>
		<div id="prev" onclick="toTop()" title="至頂端"></div>
			<div id="timeline">
				<div id="load_trip" class="loading">
				<div class="load_name">Loading</div>
				<div id="block_1" class="barlittle"></div>
				<div id="block_2" class="barlittle"></div>
				<div id="block_3" class="barlittle"></div>
				<div id="block_4" class="barlittle"></div>
				<div id="block_5" class="barlittle"></div>
			</div>
		<ul id="dates"></ul>
		</div>
		<div id="next" onclick="toBottom()" title="至底端"></div>
	</div>
	<!--旅行-->
	<div id="trip_one" class="list" style="display:none;">	
		<!--旅行資訊-->
		<div class="trip_information">
			<div class="trip_names">
				<h1 class="information" >
					<div id="trip_name" ></div>
				</h1>
				<div id="return_triplist" >
					<img style="height:23px" src='<%=asset_path("undo_blue.png")%>' title="返回旅行列表"/>
				</div>
			</div>
			<div id="trip_date"></div>
			<div id="trip_status" style="display:none;">
				<div style="float:left">狀態：</div>
				<div style="float:left;color:#FB9B35"><a></a></div>
			</div>
			<div style="clear: both;display: block"> </div>
			</div>
			
		<!--讀取列表-->
		<div id="load_point" class="loading">
			<div class="load_name">Loading</div>
			<div id="block_1" class="barlittle"></div>
			<div id="block_2" class="barlittle"></div>
			<div id="block_3" class="barlittle"></div>
			<div id="block_4" class="barlittle"></div>
			<div id="block_5" class="barlittle"></div>
		</div>
		<!--景點列表-->
		<div id="trip_point_list">
		</div>
		<div class="add_group_title">
			<button id="group_create_button" class="button" style="background-color: #e9e9e9; color: #1d1d1d; border: 1px solid #c3c3c3;" title="新增一篇遊記">新增遊記</button>
		</div>
		<!--瀏覽人次-->
		<div id="view_num">
			<span>瀏覽人次：<span id="count"></span></span>
			</div>
		<!--分享-->
		<div id="sharetoFB">
			<a href="#share_button" rel="facebox.sharecss" id="share" >分享</a>
			<div style="clear: both;display: block"> </div>
		</div>
		<div style="clear: both;display: block"> </div>
	</div>

	<!--隱藏的內容框-->
	<div id="bounce" class="control" style="display:none">
		<img src='<%=asset_path("left-03.png")%>' title="展開遊記框" />
	</div>

	<!--內容框-->
	<div id="slidesContainer" style="display:none">
		<div class="bounceDiv">
			<div id="like"></div>
			<a class="permission" href="#">
			<div id="notpublic" style="display:none">未公開 只有你能看到</div>
			<div id="public" style="display:none">已公開</div>
			</a>
			<div class="permission_menu">
				<div class="private_button">私人</div></a>
				<div class="public_button">公開</div></a>
			</div>
			<div class="editTool">
				<img src='<%=asset_path("edit.png")%>' title="編輯遊記">
			</div>
		</div>
		<div id="collapse" class="control">
			<img src='<%=asset_path("right-04.png")%>' title="縮小遊記框" />
		</div>
		<div class="controlButton">
			<div id="postToFB" title="發布到Facebook" style="display:none" onclick="checkbox()">
				<input type="checkbox" id="check" onclick="checkbox()"  />
				<img src='<%=asset_path("Facebook_icon.png")%>' style="height:25px" />
			</div>
			<button id="releasePost">公開</button>
			&nbsp&nbsp
			<button id="finishPost">儲存</button>
			<button id="cancelEdit" style="width: 80px;">取消編輯</button>
		</div>
		<div id="journal">
			<div id="foo"><div class="foo_load">載入中</div></div>			
			<div id="postContent"></div>	
			<hr />
			<div id="comment">
				<h3>留言</h3>
				<div class="comment_scope">
				<div class="entity">
					<div class="content_panel">
						<div class="p1">
							<div class="content">寫的好棒</div>
							<div class="footer">
								<a class="username">cindy</a> 
								<span>2013/5/13 13:05</span>
								<div><a class="button" id="delete">刪除</a></div>
							</div>
						</div>
						<div class="p2">
							<div class="content">謝謝</div>
							<div class="footer">
								<a class="username">BertHuang</a>  
								<span>2013/5/13 13:15</span>
								<div><a class="button" id="delete">刪除</a></div>
							</div>	
						</div>
					</div>
					<div class="reply_input" style="margin-top:20px">
						<textarea placeholder="回覆‧‧‧‧"></textarea>
						<input class="submit" type="button" value="回覆"></input>
					</div>
				</div>
				<div style="height:10px"></div>
				<div class="entity">
					<div class="content_panel">
						<div class="p1">
							<div class="content">寫的好棒</div>
							<div class="footer">
								<a class="username">cindy</a> 
								<span>2013/5/13 13:05</span>
								<div><a class="button" id="delete" href="#">刪除</a></div>
							</div>
						</div>
						<div class="p2">
							<div class="content">謝謝</div>
							<div class="footer">
								<a class="username">BertHuang</a>  
								<span>2013/5/13 13:15</span>
								<div><a class="button" id="delete" href="#">刪除</a></div>					
							</div>
						</div>
					</div>
					<div class="reply_input" style="margin-top:20px">
						<textarea placeholder="回覆‧‧‧‧"></textarea>
						<input class="submit" type="button" value="回覆"></input>
					</div>
				</div>
				<div style="height:10px"></div>
				</div>
				<div class="comment_input" style="margin-top:20px">
					<textarea placeholder="留言‧‧‧‧"></textarea>
					<input class="submit" type="button" value="留言"></input>
				</div>
				<div class="nologin">請先登入才能夠留言或回覆</div>
			</div>
			
		</div>
		
	</div>
</div>


<!--FB分享-->
<div id="share_button" style="display:none;">
	<div class="sharecss_l">
		<span>按Ctrl+C複製下列網址</span>
		<input id="shareInput" placeholder="這裡將出現分享用縮網址" size="50" />
		<button onclick="postToWall()">分享到facebook</button>
		<!--<a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">分享</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>-->
		<!--<span>將足跡地圖嵌入BLOG文章中</span><br/>
		<input id="embedInput" type="url" placeholder="<embed>瓜拉拉瓜拉瓜拉</embed>" size="50"/>-->
	</div>
	<div class="sharecss_r">
		<!--<img src='<%=asset_path("LOGO黑體直行-06.png")%>' style="height:145px;"/> -->
	</div>
</div>


<!--手動輸入-->
<div id="add_new" style="display:none">
    	糟了，找不到你想標記的地點，試試看手動輸入吧!
        <ol>
	       	<li>輸入附近的地理資訊試試看<input type="search" placeholder="試著輸入國家、城市、以及附近景點或經緯度、地址" size="40" onkeydown="tripPointEdit.UiListener.searchPos(event)" />
        	<button class="search" onclick="tripPointEdit.UiListener.searchPos(event)">搜尋</button></li>
        	<li>按下搜尋後，請將地圖上的<img id="pointTarget" src='<%=asset_path("logo.png")%>' />拖至正確位置，並點選下方「完成」或「取消」</li>
        </ol>
        <button class="finish">完成</button><button class="cancel" onclick="tripPointEdit.UiListener.cancelSetNewManPos()">取消</button>
</div>

<!--dialog-->
<div id="dialog"><p>將放棄編輯內容的更改?</p></div>


<!--fb_photo_selector-->

		<div id="CSPhotoSelector">
			<div class="CSPhotoSelector_dialog">
				<a href="#" id="CSPhotoSelector_buttonClose">x</a>
				<div class="CSPhotoSelector_form">
					<div class="CSPhotoSelector_header">
						<p>Choose from Photos</p>
					</div>

					<div class="CSPhotoSelector_content CSAlbumSelector_wrapper">
						<p>Browse your albums until you find a picture you want to use</p>
						<div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
							<div class="CSPhotoSelector_selectedCountContainer">Select an album</div>
						</div>
						<div class="CSPhotoSelector_photosContainer CSAlbum_container"></div>
					</div>

					<div class="CSPhotoSelector_content CSPhotoSelector_wrapper">
						<p>Select a new photo</p>
						<div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
							<div class="CSPhotoSelector_selectedCountContainer"><span class="CSPhotoSelector_selectedPhotoCount">0</span> / <span class="CSPhotoSelector_selectedPhotoCountMax">0</span> photos selected</div>
							<a href="#" id="CSPhotoSelector_backToAlbums">Back to albums</a>
						</div>
						<div class="CSPhotoSelector_photosContainer CSPhoto_container"></div>
					</div>

					<div id="CSPhotoSelector_loader"></div>


					<div class="CSPhotoSelector_footer CSPhotoSelector_clearfix">
						<a href="#" id="CSPhotoSelector_pagePrev" class="CSPhotoSelector_disabled">Previous</a>
						<a href="#" id="CSPhotoSelector_pageNext">Next</a>
						<div class="CSPhotoSelector_pageNumberContainer">
							Page <span id="CSPhotoSelector_pageNumber">1</span> / <span id="CSPhotoSelector_pageNumberTotal">1</span>
						</div>
						<a href="#" id="CSPhotoSelector_buttonOK">OK</a>
						<a href="#" id="CSPhotoSelector_buttonCancel">Cancel</a>
					</div>
				</div>
			</div>
		</div>
