<%= content_for :css do %>
	<%= stylesheet_link_tag "index_layout" %>
	<%= stylesheet_link_tag "newindex" %>
<%end%>

<%
	@isOwner=false
%>

<script type="text/javascript">
	//編輯顯示的URL
	
	window.history.pushState(null,document.title,"<%=@url%>");
	
	//-----------------check user login status------------------//
	
	//是否已登入
	<% if session[:username]%>
		EnvData.is_login=true;
		UserData.user_id=<%=session[:user_id]%>;
	<%end%>

	//是否使用FB登入
	<%if session[:fbid]%>
		UserData.facebook_id=<%=session[:fbid]%>;
	<%else%>
		UserData.facebook_id=null;
	<%end%>

	$(function(){
		initialize();
		<% if @trip_id %>
			<%
			@trip_selected=true

			@trip_info=Trip.find(@trip_id)
			@author_id=@trip_info.user_id
			@trip_info.count+=1
			@trip_info.save!
			@groups=Group.order('sort_id ASC').where(:trip_id=>@trip_id)
			@tripPoints=TripPoint.select('trip_points.id,group_id,sort_id,name,longitude,latitude').order('group_id,sort_id ASC').joins(:place).where(:trip_id=>@trip_id)
			%>
			DataStatus.owner_user_id=<%=@trip_info.user_id%>;
			<% if @trip_info.user_id.to_s==session[:user_id].to_s%>
				<% @isOwner=true %>
				DataStatus.isOwner=true;
			<%end%>
			
			<%
				@journal_selected=false
				@contents=[]
				@public=false
				@journal_name=nil
				
				if @journal_id 
					@journal_selected=true
					@journal=Group.select('title,public').find_by_id(@journal_id)
					@journal_name=@journal.title
					@public=@journal.public
					if @isOwner or @public
						@contents=Micropost.select('article,trip_points.sort_id,trip_points.id').joins(:trip_point).where('trip_points.group_id=?', @journal_id).order('trip_points.sort_id ASC')
					end
				end
				
			%>
			<% if @journal_selected%>
				readJournal_s=true;
				contentBox.setShowGroupId(<%=@journal_id%>,<%=@public%>);
			<%end%>
			
			document.title='<%=@trip_info.name%> - WanderWorld地球漫遊';
			DataStatus.trip_id=<%=@trip_id%>;
			DataStatus.trip_name='<%=@trip_info.name%>';
			DataStatus.owner_user_id=<%=@trip_info.user_id%>;
			<%@user = @trip_info.user%>
			
			<%if @user.fbid %>
				$('#person_avatar img').attr('src','https://graph.facebook.com/<%=user.fbid%>/picture');
			<%else%>
				$('#person_avatar img').attr('src','<%=asset_path("user_avatar.png")%>');
			<%end%>
			
			
			<% if @trip_info.start_date==@trip_info.end_date %>
				DataStatus.trip_date='<%=@trip_info.start_date.to_s.gsub('-','/')%>';
			<%else%>
				DataStatus.trip_date='<%=@trip_info.start_date.to_s.gsub('-','/')%> - <%=@trip_info.end_date.to_s.gsub('-','/')%>';
			<%end%>

			<% today=Date.current%>
			<% if today<@trip_info.start_date %>
				DataStatus.trip_status='倒數<%=(@trip_info.start_date-today).to_s%>天';
			<%elsif today>=@trip_info.start_date && today<=@trip_info.end_date%>
				DataStatus.trip_status='正在旅行';
			<%else%>
				DataStatus.trip_status='';
			<%end%>
			tripPointList.initJavascript();
			reLayout();
		<% elsif @user_id %>
			<% @author_id=@user_id %>
			<%@trips=Trip.order('start_date DESC').where(:user_id=>@user_id)%>		
	
			DataStatus.owner_user_id=<%=@user_id%>;
			
			<%@user = User.find(@user_id)%>
			
			<%if @user.fbid %>
				$('#person_avatar img').attr('src','https://graph.facebook.com/<%=user.fbid%>/picture');
			<%else%>
				$('#person_avatar img').attr('src','<%=asset_path("user_avatar.png")%>');
			<%end%>
			
			<% if @user_id==session[:user_id].to_s%>
				DataStatus.isOwner=true;
			<%end%>

			DataStatus.tripList=[
				<%@trips.each do |t|%>
				{
					<%t.attributes.each do |a_name,a_val|%>
						<%=a_name%>:"<%=a_val%>",
					<%end%>
					t:null
				},
				<%end%>
				{}
			];
			DataStatus.tripList.pop();		

			tripListbar.init_trip_listbar();
			tripListbar.ownerModeSwitch();
		<%end%>
		
	});

	

</script>


<!--隱藏區塊>
<div id="hide_block" style="display:none">
	 <div id="newTripLoad"></div>
</div-->
<!--內容-->
<div class="row expandView">

<!--main control-->
	<div class="large-1 columns panel gallery">
	    <div class="row">
	        <% if session[:avatar_src]%>
		    <img src='<%=session[:avatar_src]%>'></img>
			<% else%>
			<img src='<%=asset_path("user_avatar.png")%>' style="display:block; margin:auto;"></img>
			<% end %>
        	<h5><a class="black text-center" id="person_name" href="#" style="display:block; word-wrap:break-word" ><%=@user.username if !@journal_id%></a></h5>
        </div>
        <div class="row">
        		<h6 class="title" ><a href="#" class="black" id="firstStop" onclick="showTravelJournal()"><i class="foundicon-globe"></i>旅行列表</a></h5>
        </div>
    </div>
	<!--map-->
	<div class="large-2 columns">
		<div class="gallery" id="map_canvas"></div>
	</div>
	<!--隱藏的內容框-->
	<div class="large-6 columns" id="slidesContainer" style="<%='z-index:-1' if !@journal_selected%>">
			<!--遊記控制中心第一層-->
			<div class="row" id="journal_cc_1st_stack">
			<!--↓遊記標題↓，之後可以在編輯遊記的模式下重新編輯-->
				<div class="large-7 columns " id="journal_name">
					<h3><%=@journal_name%></h3>
				</div>

				<!--↓社交元件↓-->
				<div class="large-5 columns" id="social_toggle">
					<div class="row">
						<div id="release_status" class="large-6 columns" style="<%='visibility:hidden' if !@isOwner%>">
							<a class="tiny permission button dropdown" href="#">
								<div id="notpublic" style="<%='display:none' if @public%>">草稿</div>
								<div id="public" style="<%='display:none' if !@public%>">已發佈</div>
							</a>
							<div class="permission_menu">
								<div class="private_button">草稿</div>
								<div class="public_button">發佈</div>
							</div>
						</div>
						<div class="large-4 columns">
							<a class="button tiny radius" >
								<i class="foundicon-social-facebook"></i>
							</a>
						</div>
						<div class="large-2 columns">
							<a class="editTool right button secondary tiny radius" >
								<i class="foundicon-edit"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--遊記控制中心第二層-->
			<div class="row" id="journal_cc_2nd_stack">
				<!--遊記編輯工具-->
				<div class="large-8 columns" >
					
				</div>
				<!--遊記狀態/權限區塊-->
				<div class="large-4 columns">
					<div id="draftButtons" class="controlButton" style="display:none">
						<ul class="button-group radius">
							<li><a class="button secondary tiny" id="releasePost">發佈</a></li>
							<li><a class="button secondary tiny" id="finishPost">儲存</a></li>
							<li><a class="button alert tiny" id="cancelEdit">放棄</a></li>
						</ul>
					</div>
					<!--↓第二次編輯遊記↓-->
					<div id="releaseButtons" class="controlButton" style="display:none">
						<ul class="button-group radius">
							<li><a class="button tiny" id="releasePost">更新</a></li>
							<li><a class="button secondary tiny" id="toDraft">還原成草稿</a></li>
							<li><a class="button alert tiny" id="cancelEdit">放棄</a></li>
						</ul>
					</div>
				</div>
			</div>
			<hr/>
			<!--遊記閱讀/編輯區塊-->
		<div class="row" id="journal">
			<div id="foo">
				<div class="foo_load">請稍候</div>
			</div>			
			<div class="large-12 columns large-centered" id="postContent">
				<% if @journal_selected %>
				<% for c in @contents %>
				<div class="tp_box" id="tp_box_<%=c.id%>">
					<%=sanitize c.article%>
				</div>
				<% end %>
				<% end %>				
				<hr />
			</div>	
			
			<!--遊記閱讀/編輯區塊→留言板-->
			<div class="large-11 columns large-centered" id="comment">
				<h3>留言</h3>
				<div class="comment_scope row">
					<div class="entity">
						<div class="content_panel">
							<div class="p1">
								<div class="content">寫的好棒</div>
								<div class="footer">
									<a class="username">cindy</a> 
									<span>2013/5/13 13:05</span>
									<div><a class="button" id="delete">刪除</a></div>
								</div>
							</div>
							<div class="p2">
								<div class="content">謝謝</div>
								<div class="footer">
									<a class="username">BertHuang</a>  
									<span>2013/5/13 13:15</span>
									<div><a class="button" id="delete">刪除</a></div>
								</div>	
							</div>
						</div>
						<div class="reply_input" style="margin-top:20px">
							<textarea placeholder="回覆‧‧‧‧"></textarea>
							<input class="submit" type="button" value="回覆"></input>
						</div>
					</div>
					<div style="height:10px"></div>
					<div class="entity">
						<div class="content_panel">
							<div class="p1">
								<div class="content">寫的好棒</div>
								<div class="footer">
									<a class="username">cindy</a> 
									<span>2013/5/13 13:05</span>
									<div><a class="button" id="delete" href="#">刪除</a></div>
								</div>
							</div>
							<div class="p2">
								<div class="content">謝謝</div>
								<div class="footer">
									<a class="username">BertHuang</a>  
									<span>2013/5/13 13:15</span>
									<div><a class="button" id="delete" href="#">刪除</a></div>					
								</div>
							</div>
						</div>
						<div class="reply_input" style="margin-top:20px">
							<textarea placeholder="回覆‧‧‧‧"></textarea>
							<input class="submit" type="button" value="回覆"></input>
						</div>
					</div>
					<div style="height:10px"></div>
				</div>
				<div class="comment_input" style="margin-top:20px">
					<textarea placeholder="留言‧‧‧‧"></textarea>
					<input class="submit" type="button" value="留言"></input>
				</div>
				<div class="nologin">請先登入才能夠留言或回覆</div>
			</div>
		</div>
		</div>
		<!--遊記控制中心，兩層，第一層放標題、社交原件；第二層放編輯工具-->
		
	<!--遊記開關-->
	<div class="large-1 columns" style="<%='visibility:hidden;' if !@trip_selected %>">
	<div id="bounce" class="control">
		<h1><i class="foundicon-idea"></i></h1>
	</div>
	</div>
	<!--triplist-->
	<div id="trip_list" class="list large-2 columns gallery right" style="<%='display:none' if !@user_id %>" >
		<a id="trip_create_button" class="button tiny radius" style="position:absolute; right:0px;">
			<i class="foundicon-plus" style="float:left">&nbsp;</i>
			<i class="foundicon-flag" style="float:left"></i>
			<span class="showText">新增旅行</span>
		</a>
		<div class="row" style="margin-top:25px;">
			<h4 class="text-center" style="display:block; margin:0 auto; color:white;">
				<i class="foundicon-globe"></i>旅行列表</h4>
		</div>
		<hr />
		<div class="columns">
			<div class="loading load_name text-center" id="load_trip">請稍候</div>
			<div class="large-12 row scroll" id="timeline">
				<ul id="dates">
					<%=tripList_gen(@trips) if @trips%>
				</ul>
			</div>
		</div>
	</div>
	<!--click on a trip-->
	<div class="large-2 columns gallery list" id="trip_one" style="<%='display:none;' if !@trip_id && !@journal_id %>" >
		<a  id="return_triplist" href="/rapid/triplist/<%=@author_id%>" style="position:absolute; left:0px;">
			<i class="foundicon-left-arrow left"></i>返回</a>
		<div class="row text-center"  style="margin-top:10px;">
				<div class="large-12 columns large-centered" id="trip_name">
					<div class="row">
						<h4><i class="foundicon-flag white"></i></h4>
					</div>
					<%=tripName_gen(@trip_info) if @trip_info%>
					
				</div>
				
			
		</div>
		<div id="trip_date" class="row" style="margin:0px;padding:0px;white-space:nowrap;">
			<%=tripDate_gen(@trip_info) if @trip_info%>
		</div>
		<div id="trip_status" class="row" style="display:none;">狀態：
			<a style="color:#FB9B35"></a>
		</div>
		<hr />
		<div class="loading load_name row text-center" id="load_point">請稍候</div>
		<div class="row" id="trip_point_list">
			<div class="columns trip_point_all">
				<%=tripPointList_gen(@groups,@tripPoints) if @groups&&@tripPoints%>
			</div>
		</div>
		<div class="add_group_title button round secondary tiny columns large-centered" id="group_create_button">新增遊記
		<i class="foundicon-add-doc"></i>
		</div>
		<div class="row">
			<div id="view_num">
			<span>瀏覽人次：<span id="count"><%=@trip_info.count.to_s if @trip_info%></span></span>
			</div>
			<div class="button tiny radius" id="sharetoFB">
				<a href="#share_button" data-reveal-id="share_button" id="share">分享<i class="foundicon-mail"></i></a>
			</div>
		</div>
	</div>
</div>


<!--share-->
<div id="share_button" class="reveal-modal small">
	<div class="large-12 columns">
    <form>
    	<fieldset>
    		<legend><h3>分享你的旅行</h3></legend>
	    	<div class="row collapse">
	    		<div class="small-10 columns">
	    			<input type="text" id="shareInput" placeholder="連結網址" />
	    		</div>
	    		<div class="small-2 columns">
	    			<a class="button radius postfix" onclick="postToWall()">
	    				<i class="foundicon-social-facebook">分享</i></a>
	    		</div>
	    	</div>
	    </fieldset>
	</form>
	</div>
	<a class="close-reveal-modal">&#215;</a>  
</div>

<!--手動輸入景點位置-->
<div id="add_new" class="large-6 columns large-centered">
		<fieldset>
		<legend class="text-center"><h4>手動標記景點</h4></legend>
		<div class="row collapse">
			<div class="large-4 columns">
				<h6>1.輸入該景點的相關位置：</h6>
			</div>
			<div class="large-7 columns">
				<input type="text" placeholder="地址、城市、國家、周遭景點或經緯度" onkeydown="tripPointEdit.UiListener.searchPos(event)" />
			</div>
			<div class="large-1 columns"> 
				<a class="button radius postfix" onclick="tripPointEdit.UiListener.searchPos(event)">搜尋</a>
			</div>
		</div>
		<div class="row collapse">
			<div class="large-12 columns">
				<h6>2.按下搜尋後，請將地圖上的<img id="pointTarget" src='<%=asset_path("logo.png")%>' />拖至正確位置，並點選「完成」或者「取消」。</h6>
			</div>
		</div>
		<div class="row">
			<div class="large-3 columns large-offset-9">
				<button class="finish tiny radius">完成</button>&nbsp;
				<button class="cancel tiny radius alert" onclick="tripPointEdit.UiListener.cancelSetNewManPos()">取消</button>
			</div>
		</div>
		</fieldset>
</div>

<!--dialog-->
<div id="dialog" style='display:none'><p>將放棄編輯內容的更改?</p></div>

<!--fb_photo_selector-->
		<div id="CSPhotoSelector">
			<div class="CSPhotoSelector_dialog">
				<a href="#" id="CSPhotoSelector_buttonClose">x</a>
				<div class="CSPhotoSelector_form">
					<div class="CSPhotoSelector_header">
						<p>Choose from Photos</p>
					</div>

					<div class="CSPhotoSelector_content CSAlbumSelector_wrapper">
						<p>Browse your albums until you find a picture you want to use</p>
						<div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
							<div class="CSPhotoSelector_selectedCountContainer">Select an album</div>
						</div>
						<div class="CSPhotoSelector_photosContainer CSAlbum_container"></div>
					</div>

					<div class="CSPhotoSelector_content CSPhotoSelector_wrapper">
						<p>Select a new photo</p>
						<div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
							<div class="CSPhotoSelector_selectedCountContainer"><span class="CSPhotoSelector_selectedPhotoCount">0</span> / <span class="CSPhotoSelector_selectedPhotoCountMax">0</span> photos selected</div>
							<a href="#" id="CSPhotoSelector_backToAlbums">Back to albums</a>
						</div>
						<div class="CSPhotoSelector_photosContainer CSPhoto_container"></div>
					</div>

					<div id="CSPhotoSelector_loader"></div>


					<div class="CSPhotoSelector_footer CSPhotoSelector_clearfix">
						<a href="#" id="CSPhotoSelector_pagePrev" class="CSPhotoSelector_disabled">Previous</a>
						<a href="#" id="CSPhotoSelector_pageNext">Next</a>
						<div class="CSPhotoSelector_pageNumberContainer">
							Page <span id="CSPhotoSelector_pageNumber">1</span> / <span id="CSPhotoSelector_pageNumberTotal">1</span>
						</div>
						<a href="#" id="CSPhotoSelector_buttonOK">OK</a>
						<a href="#" id="CSPhotoSelector_buttonCancel">Cancel</a>
					</div>
				</div>
			</div>
		</div>
		<footer class="row expandView">
      <hr />
  </footer>
  

  <ol class="joyride-list" data-joyride>
  <li data-id="firsttop" data-text="Next">
    <p>看看其他人的遊記吧！</p>
  </li>
  <li data-id="numero1" data-class="custom so-awesome" data-text="Next">
    <h4>Stop #1</h4>
    <p>You can control all the details for you tour stop. Any valid HTML will work inside of Joyride.</p>
  </li>
  <li data-id="numero2" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
    <h4>Stop #2</h4>
    <p>Get the details right by styling Joyride with a custom stylesheet!</p>
  </li>
</ol>

<div class="joyride-tip-guide">
  <span class="joyride-nub top"></span>
  <div class="joyride-content-wrapper">
    <p>Hello and welcome to the Joyride documentation page.</p>
    <a href="#" class="small button joyride-next-tip">Next</a>
    <a href="#close" class="joyride-close-tip">&times;</a>
  </div>
</div>

