<%= content_for :info_head do %>
	<%if @user_id%>
		<title><%=@user.username%>的旅行 - WanderWorld地球漫遊</title>
		<meta property="og:title" content="<%=@user.username%>的旅行 - WanderWorld地球漫遊" />
		<meta name="description" lang="zh-Hant-TW" content="<%for t in @trips%><%=t.name%>,<%end%>" />
		<meta property="og:description" lang="zh-Hant-TW" content="<%for t in @trips%><%=t.name%>,<%end%>" />
	<%end%>
<%end%>

<div class="row wrapper">
	<div class="large-8 columns large-offset-2">
		<div class="row">
			<div class="large-3 columns right">
				<a id="trip_create_button" href="#" class="button radius right tiny" style="<%='display:none' if !@isOwner%>">
					<i class="icon-plus">
						<i class="icon-flag"></i>
					</i>&nbsp;新增旅行
				</a>
			</div>
		</div>
		<div class="columns" id="travel-timeline">
			<%@trips.each do |t|%>
				<%=travel_item t.id,t.name,t.start_date,t.end_date,true%>
			<%end%>
			<!--如果有兩篇以上，將travel-item以jquery加上.css(margin-bottom:20px !important)-->
		</div>
	</div>
	<div class="large-2 columns">
		<div class="row">
			<ul class="no-bullet picker">
            	<li class="labelClicked"><a href="#">全部</a></li>
        	</ul>	
		</div> 
	</div>

<script>
  $(document).foundation();
  $(document).ready(function(){
  	editTrip();
  });
</script>