<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>WanderWorld地球漫遊</title>
  <link rel="shortcut icon" href="http://www.wanderworld.com.tw/assets/logo-31972393d4fb52fb065cab20c547f7a2.ico">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <%= javascript_include_tag "newindex" %>
  <%= stylesheet_link_tag "newindex" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript">


		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-30218831-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		<%if session[:username]%>
			var login_s=true;
		<%else%>
			var login_s=false;
		<%end%>

		<%if session[:fbid]%>
			var fid=<%=session[:fbid]%>;
		<%else%>
			var fid=null;
		<%end%>

	</script>

</head>
<body>
  <div id="fb-root"></div>
  <script>
    $(function(){
		fb_init(function(){
			FB.getLoginStatus(function(){
				if(login_s&&fid){
					<%=yield :fb_init_yes %>
				}
            });
        });
    	if(!login_s||!fid){	
			<%=yield :fb_init_no %>
    	}
    });
</script>
<div id="fb-root"></div>
 <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=319719498074982";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));</script>

 
 <!-- Header and Nav -->
      <nav class="top-bar add-shadow" >
        <ul class="title-area">
          <li class="name">
          <a href="#"><img id="logo" src="<%=asset_path('banded/main_logo.png')%>" /></a>
          </li>
        </ul>
          <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li><a href="/newindex/browse">瀏覽遊記</a></li>
            <li class="divider"></li>
            <li class="name"><a href="#" data-reveal-id="register">註冊</a></li>
            <li class="divider"></li>
    		    <li><a href="#" data-reveal-id="login">登入</a></li>
          </ul>
        </section>
      </nav>
  <!-- End Header and Nav -->

  <!-- First Band (Image) -->
<div class="large-9 columns large-centered">
  <div class="row">
    <div class="gallery" >
      <div class="tailored">
        <img src="<%=asset_path('banded/banded-cover.jpg')%>" />
        <a href="/newindex/browse"  id="readJournal" class="right button radius large">瀏覽遊記</a>
      </div>
    </div>
    <hr />
  </div>

  <!-- Second Band (Image Left with Text) -->
  
  <div class="row">
      <div class="large-4 columns">
        <img class="gallery" src="<%=asset_path('banded/a1.jpg')%>" />
      </div>
      <div class="large-8 columns">
        <h3>時間、地點、故事，缺一不可</h3>
        <h3>專注於旅行者的設計，寫下專屬於旅行的遊記。</h3>
          <p class="lead">WanderWorld地球漫遊是一個專為旅行者打造的雲端遊記服務，我們將「人、事、時、地」以獨特的介面整合在一起，幫助旅行者說故事，或者規劃下一趟旅程。</p>

      </div>
  </div>

  <!-- Third Band (Image Right with Text) -->
  
  <div class="row">
      <div class="large-8 columns">
        <h3>一張張旅行地圖，為美好的旅程留下紀錄</h3>
        <h3>凡走過，必留下足跡；每個足跡都是傳奇。</h3>
          <p class="lead">
            沒有一個網誌或社群網站，能像地球漫遊一樣，將地理位置和旅行故事整合地如此緊密。我們相信，將地圖和遊記結合在一起，不僅能幫助旅行者撰寫，更能讓讀者身歷其境。</p>
      </div>
        <div class="large-4 columns">
          <img class="gallery" src="<%=asset_path('banded/a2.jpg')%>" />
        </div>
  </div>
  
  <!-- Fourth Band (Image Left with Text) -->
  
  <div class="row">
      <div class="large-4 columns">
        <img class="gallery" src="<%=asset_path('banded/a3.jpg')%>" />
      </div>
      <div class="large-8 columns">
        <h3>直覺的時間軸架構；剛回家，還是正要出發？</h3>
        <h3>不只幫助你回憶，還要幫你規劃旅行。</h3>
          <p class="lead">
          WanderWorld地球漫遊的時間軸將依照你輸入的旅行時間，自動顯示這趟旅行是已經出發，還是尚未啓程；除了寫遊記，你也可以規劃你的下一趟旅行。
          </p>
      </div>
  </div>
  

  <!-- Call to Action Panel -->
  <div class="row">
    <div class="large-12 columns panel" style="margin-top:7em;">
          <div class="large-4 columns">
            <h2>和我們聯絡！</h2>
            <p>有任何疑問或建議，請讓我們知道!</p> 
            <div class="large-10 columns" style="padding-left:0px;">
            <a target="_blank" href="http://goo.gl/mnxVi" class="button large expand radius left">聯絡我們</a>
            </a>
          </div>
          </div>
          <div class="large-4 columns offset-by-four fb-like-box" data-href="http://www.facebook.com/WanderWorld" data-width="292" data-height="185" data-show-faces="true" data-stream="false" data-header="false" data-border-color="#f2f2f2">
          </div>
        </div>
    </div>
</div>


  <!-- Footer -->
  
  <footer class="row">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <a href="/term/index.html">WanderWorld地球漫遊 &copy; 2013</a>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://wanderworld-ideaaxis.blogspot.tw/" target="blank">地球漫遊開發日誌</a></li>
            <li><a href="href="http://goo.gl/mnxVi"">問題回報</a></li>
          </ul>
        </div>
      </div> 
  </footer>


<!--註冊-->
  <div id="register" class="reveal-modal medium">
    <div class="large-8 columns">
      <%=form_for @newuser,:url=>{:controller=>'user',:action=>'create'} do |f|%>
      <fieldset>
      
     <legend><h2>註冊</h2></legend>
      <div class="row collapse">
        <div class="small-3 large-2 columns">
          <label for="right-label" class="right inline">電子郵件:</label>
        </div>
        <div class="small-9 large-10 columns">
         <input id="user_email" name="user[email]" placeholder="請輸入您註冊的電子郵件地址" size="30" type="email" />   
        </div>
      </div>  
      <div class="row collapse">
        <div class="small-3 large-2 columns">
          <label for="right-label" class="right inline">名稱:</label>
        </div>
        <div class="small-9 large-10 columns">
          <%=f.text_field :username,:placeholder=>"您在網站中的名稱"%>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 large-2 columns">
          <label for="right-label" class="right inline">密碼:</label>
        </div>
        <div class="small-9 large-10 columns">
          <%=f.password_field :password, :placeholder=>'請輸入6~20字半形英數密碼'%>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 large-2 columns">
          <label for="right-label" class="right inline">確認密碼:</label>
        </div>
        <div class="small-7 large-8 columns">
          <%=f.password_field :password_confirmation, :placeholder=>"請輸入第二次密碼"%>
        </div>
        <div class="small-2 large-2 columns">
          <%=f.submit '註冊',:class=>"button radius postfix"%>
        </div>
        <div class="large-10 columns right"><p class="right">使用本服務，代表您同意<a href="/term/index.html" target="blank">服務條款</a></p></div>
      </div>

     <%if(flash[:signupfail])%>
      <p class="loginfail">註冊失敗</p>
     <%end%>

      </fieldset>
      <%end%>
  </div>
  

  <div class="large-4 columns">
    <fieldset>
    <legend><h4>以其他帳號登入</h4></legend>
      <div class="fb-login-button" id="custom_fb_login" autologoutlink="false" onlogin="onLogin()">facebook</div>
      </fieldset>
  </div>
  <a class="close-reveal-modal">&#215;</a>  
  </div>

<!--登入-->
  <div id="login" class="reveal-modal medium">
    <div class="large-8 columns">
    
        
    <%=form_for @user_session,:url=>{:controller=>'UserSession',:action=>'create_by_index'} do |f| %>
     <fieldset>
      <legend><h2>登入</h2></legend>
     <div class="row collapse">
        <div class="small-3 large-2 columns">
          <label for="right-label" class="right inline">電子郵件:</label>
        </div>
        <div class="small-9 large-10 columns">
          <%=f.email_field :email, :placeholder=>"請輸入您註冊的電子郵件地址"%>
        </div>
    </div>
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <label for="right-label" class="right inline">密碼:</label>
      </div>
      <div class="small-9 large-8 columns">
        <%=f.password_field :password, :placeholder=>"請輸入6~20字半形英數密碼"%>
      </div>
      <div class="small-9 large-2 columns">
        <%=f.submit '登入',:class=>"button radius postfix"%>
      </div>
    </div>
     <!--<input type="submit" class="alert button medium" value="忘記密碼">-->
     <%if(flash[:loginfail])%>
      <p class="loginfail">您輸入的帳號或密碼有誤</p>
      <%end%>
      <div class="large-10 columns right"><p class="right">使用本服務，代表您同意<a href="/term/index.html" target="blank">服務條款</a></p></div>
      </fieldset>
      <%end%>
    

</div>

  <div class="large-4 columns">
    <fieldset>
    <legend><h4>以其他帳號登入</h4></legend>
      <div class="fb-login-button" id="custom_fb_login" autologoutlink="false" onlogin="onLogin()">facebook</div>
      </fieldset>
  </div>
  <a class="close-reveal-modal">&#215;</a>  
  </div>


  
<script>
  $(document).foundation();
</script>

</body>
</html>
