//依照權限切換ui
function ui_modeSwitch(t){
	if(t){		
		$('#trip_name div').click(function(){editTripName();});
		$('#trip_name div').css('cursor','pointer');
		$('#trip_date div').click(function(){editTripDate();});
		$('#trip_date div').css('cursor','pointer');
		//$('#trip_friend_add').show();
		$('#add_group_tittle').show();		
		$('.editTool').show();		
		//$('#add').show();		
	}else{		
		$('#trip_name div').unbind('click');
		$('#trip_name div').css('cursor','auto');
		$('#trip_date div').unbind('click');
		$('#trip_date div').css('cursor','auto');
		//$('#trip_friend_add').hide();
		$('#add_group_tittle').hide();	
		$('.editTool').hide();	
		//$('#add').hide();
	}
}

/*旅行********************************************************************************/

//編輯旅行名稱
function ui_editTripName(){
	trip_name=$('#trip_name a:eq(0)').text();
	$('#trip_name div').hide().parent().find('input').show().focus().val(trip_name);
}
//完成編輯旅行名稱
function ui_finishEditTripName(){
	var a=$('#trip_name a:eq(0)');
	var input=$('#trip_name input');
	if(a.text().replace(/[\s]*/,"").length==0 && input.val().replace(/[\s]*/,"").length==0) 
		a.text("請輸入旅行名稱");
	else
		a.text((input.val().replace(/[\s]*/,"").length!=0)?input.val():a.text());
	$('#trip_name div').show();
	input.hide();
}
//編輯旅行日期
function ui_editTripDate(){
	trip_date=$('#trip_date a:eq(0)').text();
	$('#trip_date div').hide().parent().find('input').show().focus().val(trip_date);	
}
//完成編輯旅行日期
function ui_finishEditTripDate(){
	var a=$('#trip_date a:eq(0)');
	var input=$('#trip_date input');
	a.text((input.val().replace(/[\s]*/,"").length!=0)?input.val():a.text());
	$('#trip_date div').show();		
	var startdate = input.val().split("-")[0].replace(/\//g,'-').replace(/\ /,'');
	if(input.val().split("-")[1])
		var enddate = input.val().split("-")[1].replace(/\//g,'-').replace(/\ /,'');
	else
		var enddate = startdate;
	if( getdate() < startdate ){
		$('#trip_status').show();
		$('#trip_status a').text('倒數 '+getDateDiff(startdate,getdate())+' 天');
	}else if(getdate() >= startdate && getdate() <= enddate){
		$('#trip_status').show();
		$('#trip_status a').text('正在旅行');
	}else if( getdate() > enddate ){
		$('#trip_status').hide();
		$('#trip_status a').text('');
	}		
	input.hide();
}

/*群組**************************************************************************/

//插入群組
function ui_insertGroup(group_id,title){
	var str='';
	str+='<div id="trip_point_group_'+group_id+'" class="trip_point_group">';
	str+='  <div class="trip_point_tittle" onclick="clickGroupTitle('+group_id+')"><a>'+title+'</a><input value="'+title+'" placeholder="輸入遊記名稱" onkeydown="enterGroupName('+group_id+',event)" style="display:none;"></div>';                                            
	str+='  <div class="trip_point_add" title="新增景點" onclick="addPoint('+group_id+')">';
	if(edit_s){
		str+='<img src="<%=asset_path('button_plus_blue.png')%>"></img>';		
	}
	str+='  </div>';
	str+='  <div class="trip_point_edit" onclick="editGroup('+group_id+')">';
	if(edit_s){                                                     
		str+='<img src="<%=asset_path('edit2.png')%>" title="編輯"></img>';
		str+='<div class="group_edit_menu">';
		str+='<div onclick="editGroupName('+group_id+')"><img src="<%=asset_path('doc_edit.png')%>">更改遊記名稱</div>';
		str+='<div onclick="editPost()"><img src="<%=asset_path('pencil.png')%>">編輯遊記</div>';
		str+='<div onclick="deleteGroup('+group_id+')"><img src="<%=asset_path('delete1.png')%>">刪除遊記</div>';
		str+='</div>';          
	}
	str+='  </div>';	
	str+='  <ul class="trip_point"></ul>';
	str+='  <div style="clear: both;display: block"></div>';
	str+='</div>';
	$('.trip_point_all').append(str);
}
//建立新群組
function ui_createGroup(title){
	createGroup(title,function(result){		
		var group_id=result;
		ui_insertGroup(group_id,title);		
		$('#group_bottom').appendTo($('.trip_point_all'));
		$('.scroll-pane').animate({scrollTop:$(document).height()}, 'slow');
		ui_finishEditGroupName(group_id);
		reLayout();
		reSortable(true);		
	});
}
//完成編輯群組名稱
function ui_finishEditGroupName(id){
	var a=$('#trip_point_group_'+id+' .trip_point_tittle a:eq(0)');
	var input=$('#trip_point_group_'+id+' .trip_point_tittle input');
	a.text((input.val().replace(/[\s]*/,"").length!=0)?input.val():a.text());
	$('#trip_point_group_'+id+' .trip_point_tittle a').show();
	input.hide();
}

/*景點********************************************************************************/

//加入景點
function ui_addTripPoint(i,group_id,title,mark_color){
	str='';
	str+='<li value="'+i+'">'
	str+='<div class="point">';						
	str+='<img class="point_mark" src="'+getMarkURL(i+1,mark_color)+'" />';
	str+='<a class="point_name" onclick="clickPointTitle(event)">'+title+'</a>';
	str+='<div class="point_edit">';
	if(edit_s){		
		str+='<img src="<%=asset_path('settings.png')%>" onclick="editPoint(event)" title="編輯"></img>';
		str+='<div class="point_edit_menu">';
		str+='<div onclick="editPost()"><img src="<%=asset_path('pencil.png')%>">編輯遊記</div>';
		str+='<div onclick="removeTripPoint(event)"><img src="<%=asset_path('delete1.png')%>">刪除景點</div>';
		str+='</div>';	
	}
	str+='</div>';
	str+='<div style="clear: both;display: block"></div>';
	str+='</div>';
	str+='</li>';
	$('#trip_point_group_'+group_id+' ul').append(str);
}
//移除景點
function ui_removeTripPoint(item_id){
	$('.trip_point_all li[value='+item_id+']').remove();
	deleteMark(item_id);
	var tmp_pointData=new Array();
	var point=$('.point');
	for(i=0;i<point.length;i++){
		var tmp=$(point[i]).parent().attr('value');
		tmp_pointData[i]=pointData[tmp];
		$(point[i]).parent().attr('value',i);
	}
	pointData=tmp_pointData;
	ui_updateNumberMark();
	redrawLine();
	//reLayout();
}
//點選景點得視覺效果
function ui_selectList(item_id){
	ui_unselectList();
	$('.trip_point_all li[value='+item_id+'] a:eq(0)').css('background','rgba(0, 149, 255, 0.45)');
}
//取消鎖定景點的效果
function ui_unselectList(){
    $('.trip_point_all li a').css('background','none');
}
//更新所有標記數字
function ui_updateNumberMark(){
	var i=0;
	var li=$('.point');
	var icon=new Array();
	for(;i<li.length;i++){
		icon[i]=getMarkURL(i+1,getGroupColor(pointData[i].group_id));
		$(li[i]).find('.point_mark').attr('src',icon[i]);
	}
	for(i=0;i<pointData.length;i++){
		pointData[i].setIcon(icon[i]);
		pointData[i].setMap(map);
	}
}
//找不到景點的景點標注框
function ui_setNewManPos(){
	$('#add_new').show(500).find('input').val('');
	//失去焦點的時候隱藏		
	ui_unloadTripPointSwitchControl(false);
	$('.list').unbind('click').click(function(){
		ui_closeNewManPos();
		confirmCancel();
	});
}
//關閉找不到景點的景點標注框
function ui_closeNewManPos(){
	$('.list').unbind('click');
	$('#add_new').hide(500);
}

/*遊記********************************************************************************/

//取得遊記完整內容
function ui_getGroupArticle(group_id){
	var points=$('#trip_point_group_'+group_id+' li');
	var str='';
	for(var i=0;i<points.length;i++){
		if(pointData[points[i].value].post_simple)
			str+=pointData[points[i].value].post_simple;
		if(i!=points.length-1){
			//if(i==0)
				//str+='<p>&nbsp;</p>';
			//str+='<p>&nbsp;</p>';
			str+='<div style="page-break-after: always;" contenteditable="false" title="分頁符號" aria-label="分頁符號" data-cke-display-name="pagebreak" class="cke_pagebreak"></div>';
			//str+='<p>&nbsp;</p>';
		}
	}
	return str;
}

//顯示遊記
function ui_showPost(item_id){
	editTarget_id=item_id;
	reLayout();
	$('#slidesContainer').show().find('#editPostDiv').hide();
	$('#postToFB').hide();
	$('.controlButton').hide();

	$('#notpublic').hide();
	if(edit_s)
		isGroupPublic(pointData[item_id].group_id,function(result){
			if(result){
				$('#notpublic').hide();
			}else{
				$('#notpublic').show();
			}
		});

		log('ewrwe'+editTarget_id);
	var points=$('#trip_point_group_'+pointData[item_id].group_id+' li');
	var k=1;
	for(var i=0;i<points.length;i++){	
		if(!pointData[points[i].value].post_simple){
			log('wer'+editTarget_id);
			$('#postContent').empty();
			loadPost(pointData[editTarget_id].group_id,function(){
				if(pointData[editTarget_id]){
					$('#postContent').show().empty().append(ui_getGroupArticle(pointData[editTarget_id].group_id));
				}
				 ui_getViewFocus();
				ui_setViewFocus(item_id-$('#trip_point_group_'+pointData[item_id].group_id+' li:first').val());
			});
			k=0;
			break;
		}
	}	
	if(k){
		$('#postContent').show().empty().append(ui_getGroupArticle(pointData[editTarget_id].group_id));	
		ui_getViewFocus();
		ui_setViewFocus(item_id-$('#trip_point_group_'+pointData[item_id].group_id+' li:first').val());
	}
	$('#continue').hide();
/*	if(bounce_s){
		$('#continue').hide();
		if(!pointData[editTarget_id].post_entire)
	        	loadFullPost(editTarget_id,function(){
				if(pointData[editTarget_id]){
					$('#fullPostContent').show().empty().append((pointData[editTarget_id].post_entire)?pointData[editTarget_id].post_entire:'');
				}
			});
		else{
			$('#fullPostContent').show().empty().append((pointData[editTarget_id].post_entire)?pointData[editTarget_id].post_entire:'');
		}			
	}else{
		$('#slidesContainer').find('#fullPostContent').hide();
		if(pointData[editTarget_id].fullPost)
			$('#continue').show();
		else
			$('#continue').hide();
	}	
	$('#like').show();
	loadPost(editTarget_id+1);
	loadPost(editTarget_id-1);
 */
}
//切換成編輯模式
function ui_editPost(item_id){
	ui_selectList(item_id);
	$('#postToFB').hide().find('input').attr('checked',false);

	editTarget_id=item_id;
	
	$('#releasePost').hide();

	$('#notpublic').hide();
	isGroupPublic(pointData[item_id].group_id,function(result){
		log('ans:'+result);
		if(result){
			$('#releasePost').hide();
			$('#postToFB').hide();
		}else{
			$('#releasePost').show();
			$('#postToFB').show();
		}
	});

	$('#hide_this').hide();
	$('#fullPostContent').hide();
	
	$('#slidesContainer').show().find('#editPostDiv').css('display','block').parent().find('#postContent').hide();
	$('#toolbarDiv').css('display','block');

	$('.controlButton').show();
	$('#continue').hide();
	$('.slide').css('borden-style','solid');
/*	var str="";
	if(pointData[editTarget_id]){
		if(pointData[editTarget_id].post_simple)
			str+=pointData[editTarget_id].post_simple;
		if(pointData[editTarget_id].post_entire){
			str+='<hr>'+pointData[editTarget_id].post_entire;
		}
	}*/
	$('#like').hide();
	
	CKEDITOR.instances.editPost.setData(ui_getGroupArticle(pointData[editTarget_id].group_id));	
}
var ViewFlag=0;
//定為景點瀏覽位置
function ui_setViewFocus(num)
{
	ViewFlag=1;
	if(num==0)
		$('.slide').animate({scrollTop:0},300);
	else{
		var groupTop = $('#postContent').find('.cke_pagebreak')[num-1].offsetTop-32;
		log(groupTop);
		$('.slide').animate({scrollTop:groupTop},300);
	}
	setTimeout("ViewFlag=0;",400);
}
//取得景點瀏覽位置
function ui_getViewFocus()
{
	$('.slide').unbind('scroll');
	var len =$('#postContent').find('.cke_pagebreak').length;
	var pagebreak=new Array();
	for(var i=0;i<len;i++)
		pagebreak[i]=$('#postContent').find('.cke_pagebreak')[i].offsetTop-32;
	$('.slide').scroll(function () {
		if(ViewFlag==0){
			var first_v=$('#trip_point_group_'+pointData[editTarget_id].group_id+' li:first').val();
			if( $('.slide').scrollTop() < pagebreak[0])
				ui_selectList(0+first_v);
			else if( $('.slide').scrollTop() > pagebreak[len-1])
				ui_selectList(len+first_v);
			else{
				for(var i=0;i<len-1;i++)
					if( $('.slide').scrollTop() > pagebreak[i] && $('.slide').scrollTop() < pagebreak[i+1])
				ui_selectList(i+1+first_v);
			}
		}		
	});
}
//定位景點編輯位置
function ui_setEditFocus(num)
{
	num-=$('#trip_point_group_'+pointData[num].group_id+' li:first').val();
	if(num==0){
		CKEDITOR.instances.editPost.focus();
		$('.slide').find('iframe').contents().find('body').animate({scrollTop:0},300);
	}
	else{
		CKEDITOR.instances.editPost.focus();
		var s = CKEDITOR.instances.editPost.getSelection(); // getting selection
		var selected_ranges = s.getRanges(); 				// getting ranges
		var node = selected_ranges[0].startContainer; 		// selecting the starting node
		var parents = node.getParents(true);
		node = parents[parents.length - 2].getFirst();
		var count=0;
		while (true) {
			var x = node.getNext();
			if (x.getAttribute('class') == 'cke_pagebreak' ) {
				count++;
				if(count==num)
					break;
			}
			node = x;
			log(node);
		}
		node = node.getNext();
		var nodetop=node.getDocumentPosition().y;
		$('.slide').find('iframe').contents().find('body').animate({scrollTop:nodetop},300);
		s.selectElement(node);
		selected_ranges = s.getRanges();
		selected_ranges[0].collapse(false);  				//  false collapses the range to the end of the selected node, true before the node.
		s.selectRanges(selected_ranges);  					// putting the current selection there
	}
}
//取得景點編輯位置
function ui_getEditFocus(id)
{
	var s = CKEDITOR.instances.editPost.getSelection();
	var selected_ranges = s.getRanges(); 
	var node = selected_ranges[0].startContainer; 
	var parents = node.getParents(true);
	node = parents[parents.length - 2].getFirst();
	var now_position = parents[parents.length - 3].getDocumentPosition().y;
	var count=0;
	var trip_num=$('#trip_point_group_'+id).find('.point').length;

	while(true){
		var x = node.getNext();
		if(x.getAttribute('class') == 'cke_pagebreak' ) {
			count++;
			if(now_position < x.getDocumentPosition().y){
				return count-1;
				/*log(count);
				break;*/
			}			
			if(count==trip_num-1){
				return trip_num-1;
				/*log(trip_num);
				break;*/
			}
		}
		node = x;
	}
}
//出現遊記新建框
/*function ui_createPost(item_id){
	editTarget_id=item_id;
	editing=true;
	ui_editPost(item_id);
	$('#postToFB').show().find('input').attr('checked',false);
	$('#hide_this').hide();
	$('.slide').show();
	$('#fullPostContent').hide();
        $('#slidesContainer').show().find('#editPost').show().end().find('#postContent').hide().end().find('#edit').hide();
	$('#toolbarDiv').css('display','block');

	$('.controlButton').find('#finishPost').show().end().find('#ignorePost').show().end().find('#cancelEdit').hide();
	$('#continue').hide();
	var str="";	
	str+="<br /><br /><br /><br /><br /><br />";

	
	$('#like').hide();
	
        $('.list input,#add').click(function(){
		closePost();
		$('.list input,#add').unbind('click');
	});
}*/

//關閉遊記編輯框
function ui_closeEditPost(){
	$('#editPostDiv').hide();
	$('#toolbarDiv').hide();
	$('.controlButton').hide();
	$('#hide_this').show();
}

//關閉瀏覽遊記
function ui_closePost(){
	editTarget_id=-1;
	$('#slidesContainer').hide();
}

/*地圖********************************************************************************/

//將景點調整到地圖中心
function ui_adjustPointToCenter(item_id){
	var lat = pointData[item_id].getPosition().lat();
	var lng = pointData[item_id].getPosition().lng();
	map.setCenter(new google.maps.LatLng(lat ,lng )); 
}

//顯示地圖上描點得資訊框
function ui_showMarkDetail(item_id){
	ui_closeMarkDetail();
	infowindow=new google.maps.InfoWindow({
		content: pointData[item_id].title
	});
	infowindow.open(map,pointData[item_id]);
	google.maps.event.addListener(infowindow,'closeclick',function(){
		closePost();
		var state={
			title:document.title,
			url:'/',
			trip_id:trip_id
		}
		window.history.pushState(state,document.title,'/'+trip_id);
	});
}
//關閉描點的資訊框
function ui_closeMarkDetail(){
	if(infowindow)
		infowindow.close();
}
//關閉確認訊息框
function ui_closeConfirmBox(){
	if(confirmWindow)
		confirmWindow.close();
	confirmWindow=null;	
}

/*鍵盤控制********************************************************************************/

//掛載左右控制方式
function ui_loadTripPointSwitchControl(){
	if(!editing){
	        keyboard_s=true;
	        ui_unloadHTripPointSwitchControl();
	       	 $(window).unbind('keydown').keydown(function(event){tripPointSwitchControl(event);});
	}
}
//卸載左右控制方式
function ui_unloadTripPointSwitchControl(cont){
        if(!cont){
                keyboard_s=false;
        }
        $(window).unbind('keydown');
        ui_unloadHTripPointSwitchControl();
}
//
function ui_loadHTripPointSwitchControl(){
	if(!editing){
	        ui_unloadHTripPointSwitchControl();
		log('loadHtripPointSwitchControl()');
		$(window).unbind('keydown').keydown(function(event){htripPointSwitchControl(event);log('yes');});
	}
}
//
function ui_unloadHTripPointSwitchControl(){
        $(window).unbind('keydown');
}

/*留言層********************************************************************************/

//show留言層
function ui_showComment(){
	$('.list').animate({right:-500},400);
	$('#commentScope').show().animate({right:0},400);
}
//關閉留言層
function ui_closeComment(){
	$('.list').animate({right:0},400);
	$('#commentScope').animate({right:-500},400,function(){$('#commentScope').hide();});
}
