<%= content_for :js do %>
<script>
    $(document).ready(function(){
        editPhoto();
		deletePhoto();
		<% if @isOwner %>
			var uploadInterface=$('#upload_interface');
			var uploader=new UploadPhotoModule(uploadInterface);
			uploader.init(<%=@trip_id.to_s%>);
			$('#launch_upload').click(function(){uploadInterface.show();});
		<% end %>
    });
</script>
<%end%>

<%= content_for :info_head do %>
	<title><%=@trip_name%>的相片 - WanderWorld地球漫遊</title>
	<meta property="og:title" content="<%=@trip_name%>的相片 - WanderWorld地球漫遊" />
<%end%>

<div class="row wrapper">
    <div class="large-9 columns large-offset-1 gallery panel">
        <div class="album-title large-10 columns">
            <h1>
            <a class="black" id="return-album-list" href="/photos/all/<%=@author_id%>" title="返回相簿"><i class="icon-level-up icon-rotate-270" ></i></a>
            <a class="black" href="#"><%=@trip_name%></a>
            </h1>
        </div>
        <div class="large-2 columns">
            <% if @isOwner %>
                <a id="launch_upload" class="button radius right tiny" data-reveal-id="upload_interface"><i class="icon-cloud-upload icon-large"> 上傳</i></a>
            <% end %>
        </div>
        <hr/>
    	<ul id="photo_container" class="small-block-grid-4 clearing-thumbs" data-clearing>
		<% @photo_src.each do |p| %>
			<%=photo_tag(p[:id],p[:picture],p[:source],p[:place_id],@isOwner).html_safe%>
		<% end %>
    	</ul>
    </div>
    
    <div class="location-picker large-2 columns">
        <ul class="no-bullet">
            <li class="labelClicked"><a href="#">全部</a></li>
            <% @location_rows.each do |l| %>
                <%=location_picker(l.name,l.place_id).html_safe%>
            <%end%>
        </ul>
    </div>
</div>
<div id="none" style="display:none;"></div>

	<div id="upload_interface" class="reveal-modal large">
		<form id="fileupload" action="/photos/uploadPhoto" ><input type="file" name="photo[img]" multiple /></form>
		<div class="img_plugin_preview img_plugin_file_drag"><ul></ul></div>
            <a id="upload_compelete" class="button radius right small">完成</a>
            <!--<a id="discard_upload" class="button alert radius right small">放棄</a>
	-->	
	</div>

