
<%= content_for :info_head do %>
	<title><%=@author_name%>的相簿 - WanderWorld地球漫遊</title>
	<meta property="og:title" content="<%=@author_name%>的相簿 - WanderWorld地球漫遊" />
	<!--<meta name="description" lang="zh-Hant-TW" content=""/>
	<meta property="og:description" lang="zh-Hant-TW" content=""/>-->
<%end%>

<div class="row wrapper">

    <div class="large-10 columns large-offset-1">
        <ul class="large-block-grid-4 small-block-grid-2" id="album-list">
		<% @trips.each do |t|%>
			<% a=@albums[t.id] %>
			<% if a %>
				<%=album_tag(t.id,t.name,a.img(:thumb),a.number).html_safe%>
			<% else %>
				<%=album_tag(t.id,t.name,'/assets/banded/banded-cover.jpg',0).html_safe%>
			<% end %>
		<%end%>
        </ul>
    </div>
</div>

<div class="row">

<footer></footer>
</div>
