<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="zh" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="msvalidate.01" content="76119A89703430A2C4DE9766A11E7448" />
<title>WanderWorld地球漫遊</title>
<link rel="shortcut icon" href="<%=asset_path('logo.ico')%>"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=zh-TW"></script>
<script type="text/javascript" src="/lib/ckeditor/ckeditor.js"></script>
<%= javascript_include_tag "rapid" %>
<%= stylesheet_link_tag "rapid" %>
<%= yield :css %>
<%= csrf_meta_tags %>

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-30218831-1']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();


<%if session[:username]%>
	var login_s=true;
<%else%>
	var login_s=false;
<%end%>

<%if session[:fbid]%>
	var fid=<%=session[:fbid]%>;
<%else%>
	var fid=null;
<%end%>

</script>
</head>
<body>
<div id="fb-root"></div>
<script>
    $(function(){
	fb_init(function(){
                FB.getLoginStatus(function(){
                        if(login_s&&fid){
				<%=yield :fb_init_yes %>
                        }
                });
                });
    	if(!login_s||!fid){	
		<%=yield :fb_init_no %>
    	}
    });
</script>

<!--頭部區塊-->
<%if UserSession.find%>
<nav class="top-bar" >
        <ul class="title-area">
          <li class="name">
          	<a href="/newindex/browse"><img id="logo" src="<%=asset_path('banded/main_logo.png')%>" /></a>
          </li>
        </ul>
          <section class="top-bar-section">
  <script type="text/javascript" src="<%=asset_path('rapid/uievent.js')%>"></script>
			<ul class="right">
				<li class="active"><% if session[:avatar_src]%><img src='<%=session[:avatar_src]%>'></img><% end %></li>
				<li class="has-dropdown"><a href="/rapid/index"><%=session[:username]%></a>
					<ul class="dropdown">
						<li><a href="/rapid/index">我的旅行</a></li>
						<%if session[:fbid]%>
						<li><a id="logout_a" href="javascript:onLogout()">登出Facebook</a></li>
						<li><a id="logout_a" href="/user_session/logout">登出</a></li>
						<%else%>
						<li><a id="logout_a" href="/user_session/logout">登出</a></li>
						<%end%>
						<li class="divider"></li>
						<li><a href="http://goo.gl/JeAZ2" target="_blank">問題回報</a></li>
					</ul>
				</li>
			</ul>
		</section>
  </nav>

	<%else%>
  <nav class="top-bar" >
        <ul class="title-area">
          <li class="name">
            <a href='/newindex/banded'><img id="logo" src="<%=asset_path('banded/main_logo.png')%>" /></a>
          </li>
        </ul>
          <section class="top-bar-section">
		<ul class="right">
            <li class="divider"></li>
            <li><a href="/newindex/browse" id="readJournal">閱讀遊記</a></li>
            <li class="divider"></li>
            <li class="name"><a href="#" data-reveal-id="register">註冊</a></li>
            <li class="divider"></li>
    		<li><a href="#" data-reveal-id="login">登入</a></li>
          </ul>
          </section>
	<%end%>
</nav>

	<!--註冊-->
	  <div id="register" class="reveal-modal medium">
		<div class="large-8 columns">
		  <%=form_for @newuser,:url=>{:controller=>'user',:action=>'create'} do |f|%>
		  <fieldset>
		  
		 <legend><h2>註冊</h2></legend>
		  <div class="row collapse">
			<div class="small-3 large-2 columns">
			  <label for="right-label" class="right inline">電子郵件:</label>
			</div>
			<div class="small-9 large-10 columns">
			 <input id="user_email" name="user[email]" placeholder="請輸入您註冊的電子郵件地址" size="30" type="email" />   
			</div>
		  </div>  
		  <div class="row collapse">
			<div class="small-3 large-2 columns">
			  <label for="right-label" class="right inline">名稱:</label>
			</div>
			<div class="small-9 large-10 columns">
			  <%=f.text_field :username,:placeholder=>"您在網站中的名稱"%>
			</div>
		  </div>
		  <div class="row collapse">
			<div class="small-3 large-2 columns">
			  <label for="right-label" class="right inline">密碼:</label>
			</div>
			<div class="small-9 large-10 columns">
			  <%=f.password_field :password, :placeholder=>'請輸入6~20字半形英數密碼'%>
			</div>
		  </div>
		  <div class="row collapse">
			<div class="small-3 large-2 columns">
			  <label for="right-label" class="right inline">確認密碼:</label>
			</div>
			<div class="small-9 large-10 columns">
			  <%=f.password_field :password_confirmation, :placeholder=>"請輸入第二次密碼"%>
			</div>
		  </div>
		  <br>
		  <div class="row">
			<div class="small-9 large-12 right">
			<%=f.submit '註冊',:class=>"button radius expand"%>
			</div>
		  </div>

		 <%if(flash[:signupfail])%>
		  <p class="loginfail">註冊失敗</p>
		 <%end%>

		  </fieldset>
		  <%end%>
	  </div>
	  

	  <div class="large-4 columns">
		<fieldset>
		<legend><h4>以其他帳號登入</h4></legend>
		  <div class="fb-login-button" id="custom_fb_login" autologoutlink="false" onlogin="onLogin()">facebook</div>
		  </fieldset>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>  
	  </div>

	<!--登入-->
	  <div id="login" class="reveal-modal medium">
		<div class="large-8 columns">
		
			
		<%=form_for @user_session,:url=>{:controller=>'UserSession',:action=>'create_by_index'} do |f| %>
		 <fieldset>
		  <legend><h2>登入</h2></legend>
		 <div class="row collapse">
			<div class="small-3 large-2 columns">
			  <label for="right-label" class="right inline">電子郵件:</label>
			</div>
			<div class="small-9 large-10 columns">
			  <%=f.email_field :email, :placeholder=>"請輸入您註冊的電子郵件地址"%>
			</div>
		</div>
		<div class="row collapse">
		  <div class="small-3 large-2 columns">
			<label for="right-label" class="right inline">密碼:</label>
		  </div>
		  <div class="small-9 large-10 columns">
			<%=f.password_field :password, :placeholder=>"請輸入6~20字半形英數密碼"%>
		  </div>
		</div>
		  <br>
		  <div class="row">
			<div class="small-9 large-12 right">
			<%=f.submit '登入',:class=>"button radius expand"%>
			</div>
		  </div>
		 <!--<input type="submit" class="alert button medium" value="忘記密碼">-->
		 <%if(flash[:loginfail])%>
		  <p class="loginfail">您輸入的帳號或密碼有誤</p>
		  <%end%>

		  </fieldset>
		  <%end%>
		

	</div>

	  <div class="large-4 columns">
		<fieldset>
		<legend><h4>以其他帳號登入</h4></legend>
		  <div class="fb-login-button" id="custom_fb_login" autologoutlink="false" onlogin="onLogin()">facebook</div>
		  </fieldset>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>  
	  </div>

<%= yield %>


<script>
  /*document.write('<script src="http://zeptojs.com/zepto.js"'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\/script>');
	*/
</script>
  
<script>
  $(document).foundation();
  $(document).foundation('joyride', 'start');
</script>
</body>
</html>