<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="zh" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="msvalidate.01" content="76119A89703430A2C4DE9766A11E7448" />
<title>WanderWorld地球漫遊</title>
<link rel="shortcut icon" href="<%=asset_path('logo.ico')%>"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=zh-TW"></script>
<script type="text/javascript" src="/ckeditor_source.js"></script>
<script type="text/javascript" src="/config.js"></script>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag    "rapid" %>
<%= yield :css %>
<%= csrf_meta_tags %>
<meta property="fb:app_id" content="369699423051845" />
<%if @trip_id%>
	<%if @tt=Trip.find_by_id(@trip_id)%>
		<%if @tt_user=@tt.user%>
			<%if @tt_user.fbid%>
				<meta property="fb:admins" content="<%=@tt_user.fbid%>" />
			<%end%>
			<meta property="wanderworld:author" content="<%=@tt_user.username%>" />
		<%end%>
	<%end%>
	<%if @tp_id%>
		<meta property="og:url" content="http://www.wanderworld.com.tw/<%=@trip_id%>/<%=@tp_id%>" />
		<% @tmp=TripPoint.find_by_id(@tp_id)	%>
		<% if @tmp%>
			<meta property="og:type" content="wanderworld:journal" />
			<meta property="og:title" content="<%=@tmp.group.title%>-<%=@tmp.place.name%>" />
			<% if (@tpost=@tmp.micropost)&&@tpost.article%>
				<meta property="og:description" content="<%=@tmp.micropost.article.gsub(/<[^>]*>/,'')%>" />
			<%end%>
		<%end%>
	<%else%>
		<%if @tk=Trip.find_by_id(@trip_id)%>
			<meta property="og:type" content="wanderworld:trip" />
			<meta property="og:url" content="http://www.wanderworld.com.tw/<%=@trip_id%>" />
			<meta property="og:title" content="<%=@tk.name%>" />
		<%end%>
	<%end%>
<%else%>
	<meta property="og:title" content="WanderWorld地球漫遊" />
<%end%>
<meta property="og:image" content="http://www.wanderworld.com.tw/assets/LOGO%E9%BB%91%E9%AB%94%E7%9B%B4%E8%A1%8C-06-3aff113131bb39ef88f07522473feccb.png" />

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-30218831-1']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

jQuery(document).ready(function($) {
	$('a[rel*=facebox]').facebox({
		loadingImage : "<%=asset_path('loading.gif')%>",
		closeImage   : "<%=asset_path('closelabel.png')%>"
	});
	$.facebox.settings.opacity = 0.7;

});

<%if session[:username]%>
	var login_s=true;
<%else%>
	var login_s=false;
<%end%>

<%if session[:fbid]%>
	var fid=<%=session[:fbid]%>;
<%else%>
	var fid=null;
<%end%>

</script>
</head>
<body>
<div id="fb-root"></div>
<script>
    $(function(){
	fb_init(function(){
                FB.getLoginStatus(function(){
                        if(login_s&&fid){
				<%=yield :fb_init_yes %>
                        }
                });
                });
    	if(!login_s||!fid){	
		<%=yield :fb_init_no %>
    	}
    });
</script>
<!--頭部區塊-->
<div class="header">
	<a href=""><img class="logo" src="<%=asset_path('banner_logo_walker.png')%>" /></a>
	<!--<div id="search">	
		<input id="searching" type="text" placeholder="搜尋" />	
		<button id="search_button"><img src='<%=asset_path('toolbar_find.png')%>' style="width:20px"></img></button>
	</div>-->
	<div id="main_list">
	<%if UserSession.find%>
<!--		<a href="/rapid/lookingAround">
			<div class="item_out">
				<div class="item_left">
						<img src='<%=asset_path('world.png')%>' style="width:20px"></img>
				</div>
				<div class="item_right">旅行動態</div>
			</div>
		</a>
-->		<!--<a href="/rapid/index">
			<div class="item_out">	
				<div class="item_left">
					<img src='<%=asset_path('user.png')%>' style="width:20px"></img>
				</div>
				<div class="item_right">個人遊記</div>
			</div>
		</a>-->
		<a href="/rapid/index">
			<div id="account" class="item_out">
				<div id="user_heads" class="item_left">
					<% if session[:avatar_src]%><img src='<%=session[:avatar_src]%>'></img><% end %>
				</div>
				<div id="user_names" class="item_right"><%=session[:username]%></div>
			</div>
		</a>
		<div id="account_list" class="hovering" onclick="showAccountList()">
			<img style="width:18px;height:12px;" src="<%=asset_path('down_triangle.png')%>" />
		</div>
		<ul id="account_ul">
<!--			<li><h2 class="floating"><a href="/rapid/lookingAround">旅行動態</a></h2></li>  -->
			<li><h2 class="floating"><a href="/rapid/index">個人遊記</a></h2></li>
			<%if session[:fbid]%>
				<li><h2 class="floating"><a id="logout_a" href="javascript:onLogout()">登出Facebook</a></h2></li>
			<%else%>
				<li><h2 class="floating"><a id="logout_a" href="/user_session/logout">登出</a></h2></li>
			<%end%>
			<li><hr></li>
			<li><h2 class="floating"><a href="#about_wanderworld" rel="facebox.wanderworld">關於地球漫遊</a></h2></li>
			<li><h2 class="floating"><a href="http://goo.gl/JeAZ2" target="_blank">問題回報</a></h2></li>
		</ul>		
	<%else%>
		<h2 class="floatingss">
			<div class="fb-login-button" id="custom_fb_login" style="width:400px;display:inline" autologoutlink="false" onlogin="onLogin()">登入</div>
		</h2>
		<h2 class="floatingss"><a href="#login" rel="facebox.rigistercss">登入</a></h2>
		<h2 class="floatingss"><a href="#rigister" rel="facebox.rigistercss">註冊</a></h2>
		<h2 class="floatingss"><a href="#about_wanderworld" rel="facebox.wanderworld">關於地球漫遊</a></h2>
	<%end%>
	</div>
</div>

<%= yield %>

<!--登入-->
<div id="login" style="display:none">
	<%=form_for @user_session,:url=>{:controller=>'UserSession',:action=>'create_by_index'} do |f| %>
	<table width="300px" border="0">
		<tr>
			<th scope="col">E-mail</th>
			<th scope="col"><%=f.email_field :email, :class=>"fill", :placeholder=>"請輸入您的E-mail"%></th>
		</tr>
		<tr>
			<th scope="row">密碼</th>
			<td><%=f.password_field :password,:class=>"fill", :placeholder=>"請輸入您的密碼"%></td>
		</tr>
	</table>
	<%if(flash[:loginfail])%>
		<p class="loginfail">您輸入的帳號或密碼有誤</p>
	<%end%>
	<br />
	<%=f.submit '登入' , :id=>"login_button"%>
	<%end%>
</div>

<!--註冊-->
<div id="rigister" style="display:none">
	<%=form_for @newuser,:url=>{:controller=>'user',:action=>'create'} do |f|%>
	<h1>開始使用<!--<img class="logo" src="<%=asset_path('banner_logo_walker.png')%>" />--></h1><br/>
	<h3><span class="introduction">WanderWorld地球漫遊是幫助人們紀錄旅行的服務；我們喜歡旅行，相信網路世界應該要有比Blog和facebook更有個性的旅行紀錄方式。</span>
	<span class="introduction">在地球漫遊，你可以輕易的將去過的地方和照片定在地圖上，做成一張獨一無二的個人旅行地圖。</span></h3>
	<table width="300px" border="0">
		<tr>
			<th scope="col">E-mail</th>
			<th scope="col"><%=f.email_field :email,:class=>"fill",:placeholder=>"您將來登入用的帳號"%></th>
		</tr>
		<tr>
			<th scope="row">名稱</th>
			<td><%=f.text_field :username,:class=>"fill",:placeholder=>"您在網站中的名稱"%></td>
		</tr>
		<tr>
			<th scope="row">密碼</th>
			<td><%=f.password_field :password, :class=>'fill', :placeholder=>'請輸入8~12字的密碼'%></td>
		</tr>
		<tr>
			<th scope="row">再次輸入密碼</th>
			<td><%=f.password_field :password_confirmation,:class=>"fill", :placeholder=>"請輸入8~12字的密碼"%></td>
		</tr>
	</table>
	<%=f.submit '開始使用',:id=>"rigister_button"%>
	<%end%>
</div>
<!--關於地球漫遊-->
<div id="about_wanderworld" style="display:none;">
	<h1 class="about_title">關於<img src="<%=asset_path('banner_logo_walker.png')%>" /></h1>
   	<h3>"我們相信，每一次旅行都是改變，值得紀錄。"</h3>
   	<p><span class="introduction">WanderWorld地球漫遊是幫助人們紀錄旅行的服務；我們喜歡旅行，相信網路世界應該要有比Blog和facebook更有個性的旅行紀錄方式。</span><br/>
   	<span class="introduction">地球漫遊有兩個主要特色，分別是地圖式服務和時間軸分類:</span>
	<h3>地圖式服務</h3>
    <span class="introduction">在記錄旅行這件事情上，還有什麼比直接釘照片在地圖上更容易?我們相信，這樣不僅簡單有趣，而且充滿個性。</span>
	<h3>時間軸分類方式:</h3>
    <span class="introduction break">旅行，是人們在某一時間內漫遊於世界各地的過程。透過直覺式的時間軸分類方式，各位將能夠跨越地域的限制，將旅行適當的分類紀錄。</span></p>
    <h1>BLUES團隊</h1>
    BLUE是藍調的意思。因為我們喜歡聽藍調爵士樂，所以以此命名。<br/><br/>
<object id="prezi_f0f59b9598ba355f3705a3ecd721f8542636f0ff" name="prezi_f0f59b9598ba355f3705a3ecd721f8542636f0ff" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="300"><param name="movie" value="http://prezi.com/bin/preziloader.swf"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="bgcolor" value="#ffffff"/><param name="flashvars" value="prezi_id=f0f59b9598ba355f3705a3ecd721f8542636f0ff&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/><embed id="preziEmbed_f0f59b9598ba355f3705a3ecd721f8542636f0ff" name="preziEmbed_f0f59b9598ba355f3705a3ecd721f8542636f0ff" src="http://prezi.com/bin/preziloader.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300" bgcolor="#ffffff" flashvars="prezi_id=f0f59b9598ba355f3705a3ecd721f8542636f0ff&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"></embed></object><br/>
    <h1 style="text-align:right;"><a href="http://wanderworld-ideaaxis.blogspot.com/" target="_blank" id="wanderworld_ideaaxis">創業心得日誌→</a></h1>
</div>

</body>
</html>
